
body {
	font-family:tahoma;
	font-size:14px

}
#header {
    color: #666666;
    font-size: 15px;
    margin: 20px auto 30px;
    width: 460px;
}
#result {
	border: 2px solid #EEEEEE;
    margin: 0 auto;
    padding: 0 30px;
    width: 400px;
	height: 590px;
}
#ad {
display:none
}

h2 {
    background: none repeat scroll 0 0 #444444;
    color: #FFFFFF;
    font-family: Verdana;
    font-size: 14px;
    margin: 0 -31px 10px;
    padding: 7px 22px;
    text-transform: uppercase;
}
table p {
text-align:left;
margin:0
}
a:link, a:visited, a:active {
    color: #005AA7;
	text-decoration:none;
	cursor:default
}
table td {
    border-bottom: 1px dotted #BBBBBB;
	 padding: 10px;
}

table tr:last-child td {
    border: medium none;
}

th {
    padding: 10px;
    text-align: left;
}
#contentR div:last-child {
    margin-top: 20px;
}
#contentR div:last-child span {
    margin: 0 40px 0 30px;
}
li {
    border-bottom: 1px dotted #BBBBBB;
    list-style: none outside none;
    padding: 10px 0;
}
ul {
    padding: 0;
}
#header a {
text-decoration:underline;
cursor:pointer;
}

#contentR div:last-child li {
    border-bottom: 1px dotted #BBBBBB;
    display: inline;
    float: right;
    margin: 0 20px 0 0;
    width: 170px;
}
.bnkRts a {
    color: #555555;
}