h1,h2,h3,h4 {
	font-family: calibri, arial;
}
p, #js-list li {
	font: 19px calibri, arial;
	color: #333;
}
#js-list li {
font: 18px/25px calibri,arial;
}
pre {
	border: 5px solid #DDD !important;
	padding: 7px 0 5px !important;
}
.prettyprint li > * {
	font-size: 17px;
	line-height: 21px;
}
#main {
	width: 900px;
	margin:30px auto 100px;
}
hr {
	background: none repeat scroll 0 0 #DDDDDD;
	border: medium none;
	clear: both;

	height: 2px;
	margin: 25px 0 0;
	width: 100%;
}
#fhr {
	margin:0;
}
p.top, h1 {
	text-align:center;
}
#table1 {
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	height: 140px;
}
#table1 div {
	float:left;
	 padding-left: 40px;
}
#table1 div:first-child {
	width:300px;
	border-right: 1px solid #e5e5e5;
	background:#FAFCFC;
	height: 100%;
}
#table1 div:last-child {
	width:490px;
	padding-left: 30px;
}
#table1 p{
	font-size: 17px;
}
strong {
    color: #444;
    line-height: 32px;
}
.toc {
	font-size:18px;
	display:block;
	margin: 0 0 4px 20px;
}