/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	background:url("../img/bg.png") REPEAT #F9F9F9;
    overflow: auto;
}
p {
	font-family: verdana;
    font-size: 14px;
}
header {
    margin: 20px auto 30px;
    width: 840px;

}
#logo {
    margin: 10px 0 20px 142px;
}
#content {
	width:860px;
	height:520px;
	margin:0 auto;
}

/* left column
++++++++++++++++++++++++++++++ */

#l_column {
	padding: 5px 0 0;
	width: 400px;
	height: 450px;
	border-right: 2px solid #ccc;
	float: right;
}
#l_column p {
	margin: 3px 0 0;	
}
input[type="radio"] {
    margin: 7px 5px 0;
}

/* right column
++++++++++++++++++++++++++++++ */

#r_column {
	padding: 30px 0 0 40px;
	width: 400px;	
	float: right;
}
#hints p {
	margin: 0 0 20px;
}
#result,
#loading {
	display: none;
}
#loading img {
	margin: 90px 0 0 145px;
}
label {
	font: 16px/30px Tahoma, sans-serif;
	color: #555;
	margin: 6px 0;
}	
input[type="radio"] {
    margin: 7px 0;
}
input[type="text"],
input[type="url"],
textarea {
	font-size:16px;
	padding: 5px;
	-webkit-border-radius: 3px;
    border-radius: 3px;
    display: block;
	background-color: #FFFFFF;
    border: 2px solid #C8C8C8;
	width:340px
}
textarea {
	width:380px;
	font-size:12px;
}
input:hover{
	border-color:#A6A6A6;
}
input:focus{
	border:2px solid #52BAD5;
	outline:medium none
}
#l_column span {
	display: block;
	margin: 25px 0 10px;
}

button {
	margin: 18px 0 20px 95px;
	background-color: #737373;
    color: #FFF;
	font: bold 14px tahoma;
    height: 36px;
	width:150px;
	border: 0 none;
	-webkit-border-radius: 3px;
    border-radius: 3px;
}

#result button {
	margin-left: 109px;
}
#result  p {
	margin:9px 0;
}
.error_input {
	border-color: red !important;
	}
.error_txt {
	display:none;
	color:red;
	}
#site_txt,
#grab_txt ,
#insert_txt {
	display:none
}

/* footer
++++++++++++++++++++++++++++++ */

footer {
	margin:0 auto;
    width: 800px;
	height:70px;
	clear:both
}
footer p {
	font-size:12px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
