
/*
Options/Preferences panel */

/*#pref-panel{*/
    /*width: 250px;*/
    /*z-index: 1599;*/
    /*height: 100%;*/
    /*position: relative;*/
    /*border-radius: 0px;*/
    /*background: red;*/
    /*float: left;*/
    /*margin-left: 0px;*/
/*}*/
#pref-panel{
    width:280px;
    /*background-color:#006666;*/
    background: white;
    height:108%;
    float:left;
    overflow:auto;
    overflow-style:auto;
    z-index:1200;
    position:relative;
    top:0px;
    overflow-x:hidden;
    max-resolution: 0px;
    /*display: none;*/
}
.housing-panel{
    width: 274px;
    z-index: 1099;
    margin-top: 282px;
    position: absolute;
    border-radius: 0px;
    margin-left: 3px;
    height: 287px;
}
.neighborhood-panel{
    width: 274px;
    z-index: 1099;
    margin-top: 575px;
    position: absolute;
    border-radius: 0px;
    margin-left: 3px;
    height: 341px;
}
.full_map{

    height:100%;
    background-color:#FFCC00;
    /*background-color: white;*/
    overflow:scroll;
    overflow-style:auto;
    position:relative;
    padding-left:280px;
    overflow-x:hidden;
    /*border:5px solid #fff;*/
}
.options-panel{
    width: 274px;
    z-index: 1099;
    margin-top: 1%;
    position: absolute;
    border-radius: 0px;
    margin-left: 3px;
    height: 275px;
    /*display: none;*/
}
.options-panel-body{
    font-size: 10px;
    margin-top: -30px;
}
.slider-labels{
    font-size:10px;
    font-weight: bold;
    word-spacing: 40px;
    margin-left: 5px;
}
.navbar{
    /*background-image: -webkit-linear-gradient(bottom, #0B3606 0%, #8CCF03 100%);*/
    margin-left: -1px;
    margin-top: -4px;
    min-height: 60px;
    /*background: green;*/
    background: linear-gradient(to bottom, #388c00 0%, #356600 100%);
    z-index: 12;
    border-radius: 0;

}
div.ui-slider-range.ui-widget-header{
    /*background-image: -webkit-linear-gradient(left, #FFFFFF 0%, #FF0000 100%);*/
    /*background: #f0ad4e;*/
    background: #d3d3d3;
}
a.ui-state-default{
    border-radius: 7px;
}

.navbar-brand{
    font-size: 25px;
    letter-spacing: 2px;
}

/*Resuls panel css*/

.zip-results-panel{
    width: 272px;

    margin-top: 8px;
    /*margin-left: 8%;*/
    margin-left: 10px;
    position: fixed;
    border-radius: 0px;
    background-color: #ffffff;
    height: auto;
    float: right;
    overflow: auto;
    box-shadow: 10px 10px 5px #888888;
}
.street-results-panel{
    width: 348px;
    margin-top: 158px;
    /*margin-left: 8%;*/
    margin-left: 2px;
    position: fixed;
    border-radius: 0px;
    background-color: #ffffff;
    height: auto;
    overflow: auto;
    padding-top: 5px;
    box-shadow: 10px 10px 5px #888888;
}
.surrounding-results-panel {
    width: 348px;
    margin-top: 268px;
    /*margin-left: 8%;*/
    margin-left: 2px;
    position: fixed;
    border-radius: 0px;
    background-color: #ffffff;
    height: auto;
    overflow: scroll;
    box-shadow: 10px 10px 5px #888888;
}

.results-panel{


    width: 285px;
    z-index: 1099;
    position: relative;
    border-radius: 0px;
    /*background-color: red;*/
    height: 88%;
    float: right;
    margin-right: 0px;
    /*display: none;*/

}
#sign_in {
    font-weight: 700;
    width: 86px;
    text-align: center;
    background: url(../images/sign_in_btn_bg.png) no-repeat 0 0;
    color: #ffffff;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    /*line-height: 44px;*/
    height: 35px;
}
.fltr_box {
    border: 1px solid #b0b0b0;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.32);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.32);
    background: #fff;
    min-height: 150px;
    padding: 8px 10px 15px;
    margin-bottom: 13px;
}
.results-panel-heading{
padding: 0px 8px;
}
.results-panel-heading h5{
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
}
.results-body{
    margin-top: -18px;
    padding: 10px 8px;
    font-size: 13px;
}
.icon-streetView{
    width: 30px;
    height: 30px;
}
.wordwrap {
    word-wrap: break-word;      /* IE */
    hyphens: auto;
}
.results-body select{
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    border-collapse: collapse !important;
    background-image: none !important;
}
.icons-zillow{
    width: 22px;
    height: 20px;
    margin-left: -3px;
    max-width: none;
}
.icons-trulia{
    width: 30px;
    height: 30px;
    margin-left: -8px;
    margin-top: -3px;
    max-width: none;
}
.icons-realtor{
    width: 22px;
    height: 22px;
    margin-top: -3px;
    max-width: none;
}
.panel-hide{
    height: 18px;
    width: 17px;
    z-index: 1300;
    position: absolute;
    margin-top: 0px;
    background-color: red;
    margin-left: -19px;
}
/*Results panel css ends*/


/*Other css begins*/

#loader{
    position: relative;
    height: 64px;
    width: 64px;
    z-index: 1200;
    margin: 0 auto;
    top:40%;
}
/*rotating google maps zoom bar*/
/*.gmnoprint{*/
    /*transform: rotate(30deg);*/
    /*-ms-transform: rotate(30deg); *//* IE 9 */
    /*-webkit-transform: rotate(90deg); *//* Safari and Chrome */
/*}*/

.fltr_btns button{
    display: block;
    float: left;
    background: url(../images/search_btn.png) no-repeat 0 0;
    width: 98px;
    height: 45px;
    border:none;
    margin-top: 5px;
}
.fltr_btns a {
    display: block;
    float: left;
    font-size: 11px;
    border-bottom: 2px solid #d4d4d4;
    margin: 24px 0 0 11px;
    line-height: 11px;
}
.slider_ttl {
    overflow: hidden;
    padding: 0 0 7px;
}
.slider_ttl p {
    float: left;
    width: 33.33333%;
    overflow: hidden;
    color: #000;
    font-size: 9px;
    height: 13px;
    text-transform: uppercase;
}
.st1 {
    text-align: left;
}
.st2 {
    text-align: center;
}
.st3 {
    text-align: right;
}
.sliter_tooltip {
    overflow: hidden;
    padding: 8px 0 0;
    margin-left: -13px;

}
.sliter_tooltip p {
    float: left;
    color: #808080;
    font-size: 10px;
    height: 11px;
    line-height: 11px;
    margin: 0 0 0px;
}
.low {
    text-align: left;
    width: 63px;
    border-right: 1px solid #a5a5a5;
}
.mdm {
    text-align: center;
    width: 125px;
}
.hgh {
    float: right !important;
    text-align: right;
    width: 61px;
    border-left: 1px solid #a5a5a5;
}
.slider_cnt {
font-size: 12px;
    padding: 0 0 0px;
    margin-left: -14px;
    font-weight: 400;
}

.select_box {
    padding: 0 6px 6px;
}
.select_box select {
    display: block;
    width: 100%;
    padding: 6px 2px 5px 5px;
    font-size: 13px;
    border: 1px solid #d6d6d6;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    height: 31px;
    background: #ffffff;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, #ffffff 0%, #fbfbfb 4%, #ededed 64%, #e9e9e9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(4%, #fbfbfb), color-stop(64%, #ededed), color-stop(100%, #e9e9e9));
    background: -webkit-linear-gradient(top, #ffffff 0%, #fbfbfb 4%, #ededed 64%, #e9e9e9 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #fbfbfb 4%, #ededed 64%, #e9e9e9 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #fbfbfb 4%, #ededed 64%, #e9e9e9 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #fbfbfb 4%, #ededed 64%, #e9e9e9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9e9e9', GradientType=0 );
}
input, select {
    vertical-align: middle;
}
.select_box p span {
    text-decoration: underline;
}
.select_box p {
    font-size: 12px;
    padding: 0 4px 0px;

}
.fltr_box>h5 {
    font-size: 9px;
    text-transform: uppercase;
    padding: 0px 6px 0px;
}
h5{
    font-weight: 400;
}
.housing-panel a.ui-slider-handle{
    height: 1.1em;
    width: 1.1em;
}
#filter_wrp {
    position: relative;
    float: left;
}
.open_close {
    display: block;
    position: absolute;
    border: 1px solid #b0b0b0;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    width: 24px;
    height: 24px;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.18);
    background: #fff;
    font-size: 20px;
    font-weight: 700;
    color: #515151;
    text-align: center;
    line-height: 20px;
    top: 10px;
    left: -41px;
}
.bm_row {
    overflow: hidden;
    padding: 0 0 0px 25px;
}
.bm_row_open {
    background: url(../images/bm_row_open_ico.png) no-repeat 2px 4px;
    margin-left: 10px;
}
.bm_tool {
    overflow: hidden;
    height: 32px;
    padding: 0px 0 3px 0;
}
.bm_tool a {
    display: block;
    float: left;
    height: 24px;
    margin: 0 7px 0 0;
}
a.bmtool {
    display: block;
    float: right;
    height: 24px;
    margin: 0 7px 0 0;
}
.save_btn {
    background: url(../images/save_btn.png) no-repeat 0 0;
    width: 44px;
}
.agent_btn {
    background: url(../images/agent_btn.png) no-repeat 0 0;
    width: 50px;
}
.info_btn {
    background: url(../images/info_btn.png) no-repeat 0 0;
    width: 37px;
}
.share_btn {
    background: url(../images/share_btn.png) no-repeat 0 0;
    width: 49px;
}
a {
    color: inherit;
    text-decoration: none;
}
.stars {
    float: left;
    display: block;
    margin: 1px 0 0 0px;
}
ol, ul {
    list-style: none;
}
.stars li {
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    margin: 0 6px;
    /*background: url(../images/stars_ico.png) no-repeat 100% 0;*/
}
.star_set {
    background-position: 0 0 !important;
}
.bm_row p {
    font-size: 14px;
    color: #000;
    margin: 0 0 5px;

}
.fltr_box {
    border: 1px solid #b0b0b0;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.32);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.32);
    background: #fff;
    min-height: 150px;
    padding: 4px 3px 0px;
    margin-bottom: 13px;
}
.best_matched_ttl {
    font-size: 14px;
    font-weight: 700;
    height: 24px;
    line-height: 0px;
    width: 342px;
    margin-top: 10px;
}
.save_search_btn {
    display: inline-block;
    float: right;
    background: url(../images/save_search_btn.png) no-repeat 0 0;
    width: 91px;
    height: 24px;
    margin-top: -10px;
}
.best_matched_list {
    padding: 1px 0 0;
    margin-left: -10px;
    margin-top: -20px;
}
.main_wrp {
    overflow: visible;
    /*padding-bottom: 40px;*/
}
.wrp{
    min-width: 400px;
    width: 100%;
    overflow: hidden;
    position: absolute;
    /*z-index: 9999;*/
    height: 91%;
}
.sb_wrp {
    margin-top: 8px;
}
.sb_right {
    float: right;
    margin-right: 4px;
}
#wrapper {
    min-height: 100%;
    position: relative;
}
a {
    color: inherit;
    text-decoration: none;
}
.zip-box{
    min-height: 30px;
    padding-top: 5px;
}
#zipres{
    /*z-index: 3;*/
    /*position: relative;*/
    z-index: 3;
    position: absolute;
    margin-left: 72%;
    margin-top: 22px;
}
div.ui-dialog.ui-widget.ui-front {
    z-index: 1200;
}
div.ui-widget-overlay.ui-front{
    z-index: 1200;
}
/*
bug  fix for google maps hidden controls
*/
#map_canvas img {
    max-width: none;
}
.ui-dialog-titlebar{
    display: none;
}
div.ui-widget-overlay.ui-front{
    opacity: 0.6;
}
.toplineresults{
    /*position: absolute;*/
    /*min-height: 20px;*/
    /*float: right;*/
    /*width: auto;*/
    /*z-index: 3;*/
    /*color: #000000;*/
    /*font-weight: bold;*/
    position: relative;
    min-height: 20px;
    float: right;
    width: auto;
    z-index: 3;
    color: #000000;
    font-weight: bold;
    font:arial;
    background: white;
    margin-right: 9px;
}
.resoptions{
    font-size: 10px;
}