{% extends "base.html" %}

{% block title %} Game Save {% endblock %}
{% block search %}{% endblock search %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/gamepage.css" type="text/css">
{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}js/gamepage.js"></script>
    <script>
        Gamedata.GamePage.init(
            '{{ STATIC_URL }}',
            '{{ uploaded_id }}',
            '{{ user.id }}'
        );
    </script>
{% endblock %}

{% block content %}
    <div id="gameinfo" class="row col-md-offset-1 col-md-10 bottom-padding-small">
        <div class="row col-md-12">
            <h2 class="text-info text-center">Save File Details</h2>
            <hr>
        </div>
        <div class="row text-center col-md-12">
            <div class="col-md-12">
                <div id="data-link-parent" class="col-md-12 text-center">
                    <span>
                        <a id="download_link" href="#">
                            <span class="glyphicon glyphicon-download"></span>
                        </a>
                    </span>
                </div>
                <div id="savefilename-parent" class="col-md-12 text-center">
                    <span>
                        <small id="savefilename" class="text-primary"> Game Save Title</small>
                    </span>
                </div>
            </div>
        </div>
        <div class="row col-md-12">
            <hr>
            <div class="profile col-md-2 leaf-effect text-center">
                <div>
                    <img id="profile" src="" alt="No profile pic">
                </div>
            </div>
            <div class="description leaf-effect col-md-7 col-md-offset-1">
                <div class="col-md-10">
                    <h4> Description </h4>
                    <p id="game_desc">

                    </p>
                </div>
                <div class="score-container text-right" class="col-md-2">
                    <span id="score" class="text-muted">20</span>
                    <span class="text-right text-muted">
                        <img class="star" src="{{ STATIC_URL }}images/system/star.gif">
                    </span>
                </div>
            </div>
            <div id="voting" class="col-md-2">
                <a id="upv-link" href="#">
                    <span id="upv" class="glyphicon glyphicon-arrow-up"></span>
                </a>
                <br>
                <br>
                <br>
                <a id="dnv-link" href="#">
                    <span id="dnv" class="glyphicon glyphicon-arrow-down"></span>
                </a>
            </div>
        </div>
        <div id="comments" class="rol col-md-12">
            <hr>
            <div class="col-md-3">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="comment_area" class="control-label sr-only">Comment</label>
                        <div class="col-md-12">
                            <textarea class="form-control" id="comment_area"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sub" class="control-label sr-only">Submit Button</label>
                        <div class="col-md-12">
                            <input class="btn btn-default form-control" id="sub" type="button" value="Submit Comment">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-9" id="comment_section">
            </div>
        </div>
    </div>
{% endblock %}



