{% extends "base.html" %}

{% block title %} Profile {% endblock %}
{% block search %}{% endblock %}

{% block content %}
    <div class="text-center empty-content">
        <div class="text-left col-md-4 col-md-offset-1">
            <br>
            <br>
            <h2 class="text-info">About Gamedata</h2><br>
            <p>
                Gamedata is the first and only company dedicated solely for all your
                game save needs.  Gamedata provides cloud-based services that enable a number 
                of novel features.  Primarily, Gamedata is the one place that you may save,
                upload, share, rate and comment on individually uploaded game save data.
            </p>
            <p>
                In addition to these features, we provide system wide statistics on the 
                various game related data we collect, as well as set of free APIs to access
                this data with.
            </p>
            <br>
            <br>
        </div>
        <div class="col-md-4">
        </div>
    </p>
{% endblock %}
