<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %} Base HTML {% endblock %} </title>

        {% block base_css %}
            <link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
            <link type="text/css" rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
            <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/base.css">
        {% endblock base_css %}

        <link rel="shortcut icon" href="{{ STATIC_URL }}images/system/favicon.ico">

        {% block base_js %}
            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/parsley.js/1.2.2/parsley.min.js"></script>
            <script src="{{ STATIC_URL }}js/google/tracking.js"></script>
        {% endblock base_js %}

        {% block css %}{% endblock %}
        {% block js %}{% endblock %}
    </head>
    <body>
    {% block body %}
{#        <div id="fb-root"></div>#}
{#        <script src="{{ STATIC_URL }}js/fb/main.js"></script>#}
        <br>
        <div id="header" class="row">
            <div class="col-md-1 col-md-offset-1">
                <a href='/'> <img id="logo" src="{{ STATIC_URL }}images/system/logo.png" border="0px"/> </a>
            </div>
            <div class="col-md-7">
                <a id='logo_title_link' style="text-decoration: none" href='/'>
                    <h1>
                        Gamedata <small><small><sup class="text-muted"><em>beta</em></sup></small></small>
                    </h1>
                </a>
            </div>

            {% block signin %}{% endblock signin %}

            {% block login %}
            {% if user.is_authenticated %}
                <div id="logged_in" class="col-md-2">
                <div id="user_panel">
                    <div class="row">
                        <img width="32"
                             height="32"
                             alt="profile"
                             {% if not user.get_profile.get_thumbnail %}
                                src="{{ STATIC_URL }}images/system/profile_thumb.png">
                             {% else %}
                                src="/{{ user.get_profile.get_thumbnail }}">
                             {% endif %}
                        Welcome, <a href="/profile/{{ user.id }}">{{ user.username|truncatechars:8 }}</a> <br>
                    </div>
                    <br>
                    <div class="row">
                        <input type="button"
                               value="Upload"
                               onclick="window.location='/upload/'"
                               class="login_button btn btn-xs btn-info">
                        {% if user.is_superuser %}
                        <input type="button"
                               value="Admin"
                               onclick="window.location='/admin/'"
                               class="login_button btn btn-xs btn-danger">
                        {% endif %}
                    </div>
                    <br>
                    <div class="row">
                        <input type="button"
                               value="Sign Out"
                               onclick="window.location='/signOut/'"
                               class="login_button btn btn-xs btn-warning">
                    </div>
                </div>
            {% else %}
                <div id="login" class="col-md-2">
                <div id="login_panel">
                    <form action="/signIn/" method="post">
                        <div class="form-group">
                            <label for="username" class="sr-only">Username</label>
                            <input type="text"
                                   id="username"
                                   name="username"
                                   class="login_textfield form-control"
                                   placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input name="password"
                                   type="password"
                                   class="login_textfield form-control"
                                   placeholder="Password">
                        </div>
                        <input type="submit" value="Login" class="login_button btn btn-primary">
                        <input type="button" value="Register" class="login_button btn btn-success" onclick="window.location='/registration/'"/>
                    </form>
                </div>
            {% endif %}
            {% endblock login %}
            </div>
        </div>
        <hr>
        <div class="row">
            {% block search %}
            <div id="search_div" class="col-md-8 col-md-offset-4">
                <form class="form-horizontal" id="search_form" method="GET" action="/results/">
                    <div class="col-md-5 form-group">
                        <label for="search_text" class="sr-only">Search Field</label>
                        <div class="col-md-offset-3">
                            <input id="search_text"
                                   name="search"
                                   class="form-control"
                                   type='text'
                                   placeholder="Search"
                                   onFocus='value=""'
                                   onBlur="if (value == ''){value='Search'}"
                                   style="float: left">
                         </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="search_button" class="sr-only">Search Button</label>
                        <div class="col-md-offset-2">
                            <input id="search_button" class="form-control btn btn-primary" type='submit' value='Search' style="float: left">
                        </div>
                    </div>
                </form>
            </div>
            {% endblock search %}
        </div>

        <div id="content" class="row">
            {% block content %} {% endblock %}
        </div>

        <hr>

        <div class="row">
        {% block footer %}
            <div id="footer" class="row col-md-11 col-md-offset-1">
                <div class="info-container row col-md-12">
                    <div class="col-md-3 right-border left-center">
                        <a id="aboutus" href="/aboutus">ABOUT GAMEDATA</a>
                        <br>
                        <br>
                        <span>
                            Learn how Gamedata is leading the charge in
                            cloud-based game save solutions.
                        </span>
                    </div>
                    <div class="col-md-3 right-border left-center">
                        <a id="performance" href="/statistics">STATISTICS</a>
                        <br>
                        <br>
                        <div>
                            Visualize save data upload statistics.
                            Everything from the most popular games, to the most
                            common platforms.
                        </div>
                        <br>
                        <span>

                        </span>
                    </div>
                    <div class="col-md-3 left-center">
                        <a id="contactus" href="/contactus">CONTACT US</a>
                        <br>
                        <a id="contactus" href="/careers">CAREERS</a>
                        <br>
                        <a id="contactus" href="/team">TEAM</a>
                        <br>
                        <a id="contactus" href="/api">API</a>
                        <br>
                        <span>
                        </span>
                    </div>
                    <div class="col-md-3 left-center">
                        <div class="fb-like"
                            data-href="https://www.facebook.com/gamedatacompany"
                            data-layout="button_count"
                            data-action="like" data-show-faces="true">
                        </div>
                        <a href="https://twitter.com/GamedataCompany" class="twitter-follow-button" data-show-count="false">Follow @GamedataCompany</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                    </div>
                    <div class="col-md-1 left-center"></div>
                </div>
            </div>
        {% endblock footer %}
        </div>

        <br>
        <br>
        <br>
        <div class="row col-md-12 text-center text-info">
            &copy; {% now "Y" %} Gamedata LLC | <a href="/privacy">Privacy Policy</a> | Made in NY
        </div>
    </div>
    {% endblock body %}
    </body>
</html>
