{% extends "base.html" %}

{% block title %} Careers {% endblock title %}
{% block search %}{% endblock search %}

{% block content %}
    <div class="col-md-offset-2 bottom-padding">
        <h1>Careers</h1>
        <br>
        Unfortunately we are <span class="text-info">not currently hiring</span>, check back soon.
    </div>
{% endblock content %}
