{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %} Profile {% endblock %}

{% block search %}
{% endblock search %}

{% block content %}
    <div class="row col-md-10 col-md-offset-1 text-center">
        {% if username %}
        <div class="alert-info">
            <p>Thank you <b>{{ username|truncatechars:8 }}</b>, please check your mail in 24 hours.</p>
        </div>
        {% endif %}
    </div>
    <div class="row col-md-12 text-center">
        <div class="col-md-4 col-md-offset-1">
            <div class="page-header">
                <h3 class="text-info">Contact Us</h3>
                <p>Have something to tell us?  Great!  Just fill out the form
                on the right.  We will contact you as soon as possible.</p>
            </div>
        </div>
        <div class="col-md-7">
            <form id="contact-form" class="form-horizontal cold-md-8" role="form" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name" class="col-md-2 control-label">Name</label>
                    <div class="col-md-6">
                        {% render_field form.name class+="form-control" %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-md-2 control-label sr-only">Name Error</label>
                    <div class="col-md-6">
                        {% if form.name.errors %}
                            {% for msg in form.name.errors %}
                                 <small class="alert alert-sm alert-danger errormessage">&bull; {{ msg }}</small>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="col-md-2 control-label">Email</label>
                    <div class="col-md-6">
                        {% render_field form.email class+="form-control" %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="name" class="col-md-2 control-label sr-only">Name Error</label>
                    <div class="col-md-6">
                        {% if form.email.errors %}
                            {% for msg in form.email.errors %}
                                 <small class="alert alert-sm alert-danger errormessage">&bull; {{ msg }}</small>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="message" class="col-md-2 control-label">Message</label>
                    <div class="col-md-6">
                        {% render_field form.message class="form-control" %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="name" class="col-md-2 control-label sr-only">Message Error</label>
                    <div class="col-md-6">
                        {% if form.message.errors %}
                            {% for msg in form.message.errors %}
                                 <small class="alert alert-sm alert-danger errormessage">&bull; {{ msg }}</small>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="submit-btn" class="col-md-2 control-label sr-only">Submit</label>
                    <div class="col-md-1">
                        <input class="btn btn-default" type="submit" value="Submit">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}