{% extends "base.html" %}

{% block title %}Gamedata{% endblock title %}

{% block search %}{% endblock search %}
{% block login %}{% endblock login %}


{% block js %}
    <script src="{{ STATIC_URL }}js/landing.js"></script>
    <script>
        Gamedata.Landing.init();
    </script>
{% endblock js %}

{% block signin %}
    <div id="logged_in" class="col-md-2">
        <a href="/signIn" role="button" class="btn btn-primary lg">Sign In</a>
    </div>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/landing.css">
{% endblock css %}

{% block content %}
    <div class="row col-md-11 col-md-offset-1">
        <div class="effect2 jumbotron col-md-9 col-md-offset-1">
            <h3>Leading <span class="text-info">Social Platform</span> for Saved-Game Data.</h3>
            <br>
            <p>
                Upload your game saves, mark them private, share them, rate them; all this and more!
                Never lose your game saves again.
            </p>
            <br>
            <p>
                <a class="btn btn-primary btn-lg" role="button" href="/aboutus">Learn More</a>
                <a id="access-btn"
                   data-placement="top"
                   data-html="true"
                   data-content="<input class='form-control' type='email' placeholder='Email' size='30'><br><input type='button' class='btn btn-info' value='Submit'>"
                   class="btn btn-success btn-lg"
                   role="button"
                   href="#">Get Early Access</a>
                or
                <a class="btn btn-info btn-lg" role="button" href="/results">Browse Save Data</a>
            </p>
        </div>
    </div>
{% endblock content %}


