{% extends "base.html" %}

{% block login %}{% endblock login %}
{% block search %}{% endblock search %}

{% block content %}
    <div class="row col-md-10 col-md-offset-1">
    <h1><u>Privacy Policy</u></h1>
    <p>
        This Policy outlines our privacy
        practices on our corporate websites located at <a href="//www.gamedata.co">http://www.gamedata.co</a> ("Website").
        This Privacy Policy (Policy) describes how we treat personally identifiable information
        that we obtain via our products and services (Services), including our website
        (Website) and that may be provided to us by our third party partners.

        For the purposes of this Policy, we will use interchangeably the terms "Gamedata", "we", "us", "our"
        and the like to refer to Gamedata LLC. and its subsidiaries and affiliates, collectively.
        We will notify you if we materially change this Policy, at which time you will have the
        opportunity to discontinue using our products and services. You agree to this Policy when
        you access or use the Website and/or use our Services, some of which may be made available
        through the Website.

        <h3>PRIVACY PRACTICES FOR OUR WEBSITE</h3>

        <h4>Personally Identifiable Information ("PII")</h4>
        We may collect PII from the Website when you elect to provide PII to us.
        PII is any information that can be used to identify or locate a particular person or entity.
        This includes, but is not limited to information such someone's name, address, telephone number,
        mobile number and/or email address. For example, you may choose to send us PII about yourself in an
        email or by completing an online form on our Website, or on the website of one of our clients or partners.
        Once collected, we will store your PII for a reasonable period of time for record keeping purposes.
        The information that we store is sometimes deleted as space requires or in the normal course of business.

        We may also collect non-personally identifiable information ("non-PII") from visitors to this Website.
        In general, this is information that by itself cannot be used to identify a particular person or entity,
        and may include your IP host address, pages viewed, browser type, Internet browsing and usage habits,
        your internet service provider, domain name, the time/date of your visit to this Website, the referring
        URL and your computer's operating system. We use this information to understand our Website traffic, the
        general demographics and other patterns of visitors to our website and more generally to improve our
        products and services. We may provide aggregated non-PII about our users to third parties for audit,
        marketing research and other purposes.

        If you'd like us to delete any PII that you have provided to us, please send your request to us at
        support@gamedata.co and we will process your request within a reasonable period of time after receipt.

        <h4>Cookies</h4>
        Like most websites, we use "cookies" and web beacons to help us manage our Website. Cookies are
        small text files that contain a string of alphanumeric characters. Web beacons (also known as
        "1X1 pixels" or "clear GIFs") are small strings of code that provide a method for delivering a
        graphic image on a web page or in an email message for the purpose of transferring data. You have
        the option of blocking the use of cookies by changing a setting in your browser. You can check your
        browser supplier's website for details on how to do this. For more information about cookies and web
        beacons please visit http://www.allaboutcookies.org/cookies.

        <h4>Third Party Websites</h4>
        The Website may contain links to and advertisements for websites operated by third parties whose
        privacy practices may differ from ours. While we endeavor to associate only with reputable entities,
        we cannot be responsible for the privacy practices of these third parties. It is your responsibility
        to check the privacy policies of all websites that you visit.

        <h3>PRIVACY PRACTICES FOR OUR PLATFORM</h3>

        <h4>Our Platform</h4>
        As part of the services of our Platform, we obtain information, which may include PII, from our third
        party data partners, which we use to provide our services. We may also collect information directly 
        from users via questionnaires, surveys and other means where
        this information is provided voluntarily. We may collect non-PII regarding a user's behavior and usage patterns
        on advertisements and sites operated by our Clients to better customize the type of advertisements users see on
        various sites. We may also collect non-PII via the Platform, including but not limited to an Internet user's IP
        host address, pages viewed, browser type, the URL, the referring URL, Internet Service Provider, and his or her
        computer's operating system. In order to execute some of the advertising services via our Platform, we may also
        need to share some of this information with our third party partners that provide certain services to us relating
        to those advertising transactions. Our Clients will typically use this information to deliver the goods or services
        requested by a user. When requested, we may also employ this information in a compiled format without identifying
        users specifically to provide to our Clients precise profiles of the types of individuals responding to their
        advertising and promotional activities.

        <h3>GENERAL PRACTICES</h3>

        <h4>Information Security</h4>
        We take precautions - including technical, administrative and physical measures - to safeguard your information.
        We use technical safeguards such as firewalls and data encryption. Your account information including email
        address is located on a secured server behind a firewall. We authorize access to personally identifiable
        information, including email addresses, only for those employees, contractors and agents who need to know that
        information in order to operate, develop or improve our services. These individuals are bound by confidentiality
        obligations and may be subject to discipline, including termination and criminal prosecution, if they fail to
        meet these obligations. We also enforce physical access controls to our buildings and files.

        <h3>Disclosure of Information to Third Parties</h3>
        We do not collect PII via the Platform, and we do not sell, rent or share PII collected on the Website
        with non-affiliated third parties without your consent. We may, however, share your PII with trusted
        third party contractors who provide services for us. These third party contractors are prohibited from
        using the information we provide for purposes other than performing services for us.

        We may disclose your information to third parties when we reasonably believe we are obligated to do so by law,
        and in order to investigate, prevent, or take action regarding suspected or actual prohibited activities,
        including but not limited to, fraud and situations involving potential threats to the physical safety of any person.

        Finally, we may transfer information, including any PII, to a successor entity in connection with a
        corporate merger, consolidation, sale of assets, bankruptcy, or other corporate change.

        <h3>Contact Information</h3>

        For questions or concerns relating to privacy, please send us an email at support@gamedata.co.

        <h3>Changes to this Privacy Policy</h3>

        We may update this Policy at any time. The latest version of this Policy will always be available at
        <a href="//www.gamedata.co/policy">http://www.gamedata.co/policy</a>. Please check this page occasionally to make sure you are aware of any updates.
    </p>
</div>
{% endblock content %}
