{% extends "base.html" %}

{% block title %} Statistics {% endblock title %}
{% block search %}{% endblock search %}

{% block js %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highcharts/3.0.7/highcharts.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
{% endblock js %}

{% block content %}
    <div class="empty-content">
    </div>
{% endblock content %}
