#footer {
    height: 150px;
    color: gray;
}

.empty-content {
    height: 350px;
}

.right-border {
    border-right: 1px solid #dddddd;
}

.left-border {
    border-left: 1px solid #dddddd;
}

.info-container div {
    height: 90px;
}

a#aboutus, a#contactus, a#performance {
    text-decoration: none;
}

.bottom-padding {
    padding-bottom: 200px;
}

.bottom-padding-small {
    padding-bottom: 100px;
}

.star {
    width: 22px;
    height: 22px;
}

.errormessage {
    padding: 2%;
    padding-left: 4%;
    padding-right: 4%;
}

/* Misc Section */

#contact-form {
    border-left: 1px solid #eeeeee;
}

.effect2 {
    position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

