#savefilename-parent span {
    font-size: 28px;
}

#data-link-parent span {
    font-size: 48px;
}

#upv {
    color: dodgerblue;
    font-size: 28px;
}

#upv:hover {
    color: #0A246A;
}

#dnv:hover {
    color: #451518;
}

#dnv {
    color: orangered;
    font-size: 28px;
    margin-left: 2px;
}

#voting a {
    text-decoration: none;
}

.description, .profile {
    color: olivedrab;
    height: 100px;
    max-height: 100px;

    background: #fff;
}

.description p#game_desc {
    color: black;
}

.profile img {
    margin-top: 5%;
    width: 84px;
    height: 84px;
}

.leaf-effect
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 5px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 5px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 5px rgba(0, 0, 0, 0.1) inset;
}
.leaf-effect:before, .leaf-effect:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 10px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 10px rgba(0,0,0,0.8);
    box-shadow:0 0 10px rgba(0,0,0,0.8);
    top:4px;
    bottom:4px;
    left:0;
    right:0;
    -moz-border-radius:5px;
    border-radius:100px;
}
.leaf-effect:after
{
    right:4px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}


.score-container {
    padding-top: 1%;
}

.score-container img {
    padding-bottom: 1%;
}

