#profile-container {
    border: 1px solid gray;
    padding: 2%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#profile-container img {
    width: 128px;
    height: 128px;
}

.shadow-effect {
    box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    -webkit-box-shodow: 0 10px 6px -6px #777;
}
