#registration-form {
    border: 1px solid rgb(225, 225, 225);
    border-radius: 5px;
    padding: 1%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.error-popover {
    width: 100px;
    position: absolute;
    left: 180px;
}

#username-error {
    top: 15px;
}

#email-error {
    top: 20px;
}

#password-error {
    top: 87px;
}

#image-error {
    top: 20px;
}
