#upload_page {
    border: 1px solid rgb(225, 225, 225);
    border-radius: 5px;
    padding: 1%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.errormessage {
    padding: 2%;
    padding-left: 4%;
    padding-right: 4%;
}


.upload-note {
    margin-top: 5%;
    text-align: center;
    font-size: 18px;
}

