﻿<%@ Page Title="About Us" Language="C#" MasterPageFile="~/Web page/Mpage1.master" AutoEventWireup="true"
    CodeFile="~/Web page/About.aspx.cs" Inherits="About" %>

<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="main">
    <center>
    <h2 style="color:#497f35;">
        We are ARK live group who design this website.
    </h2>
    </center>
</asp:Content>
