﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Web page/Mpage1.master" AutoEventWireup="true" CodeFile="Contact.aspx.cs" Inherits="Web_page_Contact" %>

<asp:Content ID="Content1" ContentPlaceHolderID="up" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="main" Runat="Server">
    <center>
    <h2 style="color:#497f35;">
        You can contact us at live_support@ARK.com
    </h2>
    </center>
</asp:Content>

