﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Mpage2.master.cs" Inherits="Web_page_Mpage2" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
    <link href="styles.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="images/icon.ico" /> 
</head>
<body>
<form id="form1" runat="server">
    <div id="mainWrap">                 
    <table width="100%">
        <tr>
            <td colspan="3">
                <div id="menu">
                    <ul>
                        <li><a href="Default.aspx"><span>Home</span></a></li>
                        <li><div class="blank"></div></li>
                        <li><a href="About.aspx"><span>About&nbsp;Us</span></a></li>
                        <li><div class="blank"></div></li>
                        <li><a href="Support.aspx"><span>Support</span></a></li>
                        <li><div class="blank"></div></li>
                        <li><a href="Contact.aspx"><span>Contact&nbsp;Us</span></a></li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="3">                
            </td>
        </tr>
        <tr>
            <td valign="middle" colspan="3">                                  
                 <div id="logoWrap"><h1>ARK Live</h1></div>
            </td>
        </tr>
        <tr>            
            <td colspan="3">
                <div id="loginPanel">
                    <asp:LinkButton ID="lnkUsername" runat="server" Visible="False" OnClick="lnkUsername_Click"></asp:LinkButton>&nbsp;
                    <asp:LinkButton ID="lnkSignOut" runat="server" Visible="False" OnClick="lnkSignOut_Click">Sign out</asp:LinkButton><br />
                    <h2><asp:Label ID="lblTitle" Text="User Login" runat="server"></asp:Label></h2>
                    <asp:TextBox ID="txtUser" Text="User Name" runat="server"></asp:TextBox>                    
                    <div class="blank"></div>
                    <asp:TextBox ID="txtPass" Text="Password" TextMode="Password" runat="server"></asp:TextBox>                    
                    <p><asp:HyperLink ID="lnkRegister" runat="server" NavigateUrl="~/Web page/Register.aspx">Not a member yet? Register Now</asp:HyperLink> </p>
                    <asp:LinkButton ID="lnkLogin" runat="server" OnClick="lnkLogin_Click" class="login">Login</asp:LinkButton>
                 </div>                 
            </td>
        </tr>
        <tr>
            <td valign="top" width="30%">
                <asp:Table ID="tableImage" runat="server">
                    <asp:TableHeaderRow HorizontalAlign="Center">
                        <asp:TableCell ColumnSpan="3" ForeColor="#497f35"><h2><b>Popular image</b></h2></asp:TableCell>
                    </asp:TableHeaderRow>                    
                </asp:Table>
                <asp:Table ID="tableUser" runat="server">
                    <asp:TableHeaderRow HorizontalAlign="Center">
                        <asp:TableCell ColumnSpan="3" ForeColor="#497f35"><h2><b>Popular user</b></h2></asp:TableCell>
                    </asp:TableHeaderRow>                    
                </asp:Table>
            </td>
            <td valign="top" width="100%">
                <asp:ContentPlaceHolder id="up" runat="server">
                </asp:ContentPlaceHolder>
            </td>
            <td width="30%" valign="top">
                <div id="rightContentPanel">    
                    <asp:Table ID="table1" HorizontalAlign="Center" runat="server">
                        <asp:TableHeaderRow>
                            <asp:TableCell><h2>Accepted user</h2></asp:TableCell>
                        </asp:TableHeaderRow>
                    </asp:Table>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <div id="footPanel">
                    <div class="copyright">
                        <p>© ARK Live. All Rights Reserved.</p>
                    </div>
                    <p class="designInfo">&nbsp;</p>
                </div>
            </td>
        </tr>
    </table>
    </div>
</form>
</body>
</html>
