body{width:auto; margin:0px; padding:0px; background:#fffde4 url(images/bodyBg.jpg) repeat-x}
#mainWrap{width:100%; margin:0px; padding:0px; float:left; background:url(images/headBg.jpg) no-repeat;
    height: 383px; 
}
#mainPanel{width:1104px; 
margin:0px; padding:0px; float:left
}
#logoWrap{width:100%; margin:0px; padding:0px; float:left;
    height: 34px;
}
h1{width:273px; height:48px; margin:20px 0 0 0; padding:0 110px; float:right; line-height:10px; text-indent:-9999px; background:url(images/logo.png) no-repeat}
#searchPanel{width:335px; 
margin:8px 0 0 0; padding:0 0 0 0; float:left
}
#searchPanel input{width:175px; height:18px; margin:0 0 0 0; padding:3px 0 0 0px; float:none; font-family:Arial; font-size:10px; color:#bb9d59; line-height:14px; border:0px; background:#f9f6d4}
#searchPanel p{width:355px; margin:10px 0 0 0; padding:0px; float:left; font-family:Arial; font-size:16px; color:#ab8e4e; line-height:20px}
#searchPanel a{color:#943415; text-decoration:none}
#searchPanel .login{width:66px; height:20px; margin:0 0 0 0; float:right; font-family:Arial; font-size:11px; color:#943415; line-height:20px; text-align:center; text-decoration:none; background:url(images/loginBg.jpg) no-repeat}

#loginPanel{width:400px; 
margin:28px 0 0 0; padding:0 0 0 0; float:right
}
#loginPanel h2{width:397px; margin:0px; padding:0px; float:left; font-family:Georgia; font-size:27px; color:#497f35; line-height:31px; font-weight:normal}
#loginPanel input{width:175px; height:18px; margin:9px 0 0 0; padding:3px 0 0 10px; float:left; font-family:Arial; font-size:10px; color:#bb9d59; line-height:14px; border:0px; background:#f9f6d4}
#loginPanel .blank{width:25px; height:21px; margin:0px; padding:0px; float:left}
#loginPanel p{width:253px; margin:10px 0 0 0; padding:0px; float:left; font-family:Arial; font-size:16px; color:#ab8e4e; line-height:20px}
#loginPanel p a{color:#943415; text-decoration:none}
#loginPanel .login{width:66px; height:20px; margin:10px 0 0 0; padding:0px; float:left; font-family:Arial; font-size:11px; color:#943415; line-height:20px; text-align:center; text-decoration:none; background:url(images/loginBg.jpg) no-repeat}
#contentPanel{width:100%; 
margin:28px 0 0 0; padding:0 0 0 0; float:none;
}
#contentPanel h2{width:357px; margin:0px; padding:0px; float:left; font-family:Georgia; font-size:27px; color:#497f35; line-height:31px; font-weight:normal}
#contentPanel input{width:175px; height:18px; margin:0 0 0 0; padding:3px 0 0 10px; float:inherit; font-family:Arial; font-size:10px; color:#bb9d59; line-height:14px; border:0px; background:#f9f6d4}
#contentPanel .blank{width:25px; height:21px; margin:0px; padding:0px; float:left}
#contentPanel p{width:300px; margin:10px 0 0 0; padding:0px; float:inherit; font-family:Arial; font-size:16px; color:#ab8e4e; line-height:20px}
#contentPanel p a{color:#943415; text-decoration:none}
#contentPanel .login{width:66px; height:20px; margin:0 0 0 0; padding:0px; float:inherit; font-family:Arial; font-size:11px; color:#943415; line-height:20px; text-align:center; text-decoration:none; background:url(images/loginBg.jpg) no-repeat}

#leftContentPanel{width:30%; 
margin:28px 0 0 0; padding:0 0 0 0; float:inherit
}
#leftContentPanel h2{width:397px; margin:0px; padding:0px; float:left; font-family:Georgia; font-size:27px; color:#497f35; line-height:31px; font-weight:normal}
#leftContentPanel input{width:175px; height:18px; margin:9px 0 0 0; padding:3px 0 0 10px; float:left; font-family:Arial; font-size:10px; color:#bb9d59; line-height:14px; border:0px; background:#f9f6d4}
#leftContentPanel .blank{width:25px; height:21px; margin:0px; padding:0px; float:left}
#leftContentPanel p{width:253px; margin:10px 0 0 0; padding:0px; float:left; font-family:Arial; font-size:16px; color:#ab8e4e; line-height:20px}
#leftContentPanel p a{color:#943415; text-decoration:none}
#leftContentPanel .login{width:66px; height:20px; margin:10px 0 0 0; padding:0px; float:left; font-family:Arial; font-size:11px; color:#943415; line-height:20px; text-align:center; text-decoration:none; background:url(images/loginBg.jpg) no-repeat}

#rightContentPanel{width:50%; 
margin:28px 0 0 0; padding:0 0 0 0; float:right
}
#rightContentPanel h2{width:397px; margin:0px; padding:0px; float:left; font-family:Georgia; font-size:27px; color:#497f35; line-height:31px; font-weight:normal}
#rightContentPanel input{width:175px; height:18px; margin:9px 0 0 0; padding:3px 0 0 10px; float:left; font-family:Arial; font-size:10px; color:#bb9d59; line-height:14px; border:0px; background:#f9f6d4}
#rightContentPanel .blank{width:25px; height:21px; margin:0px; padding:0px; float:left}
#rightContentPanel p{width:253px; margin:10px 0 0 0; padding:0px; float:left; font-family:Arial; font-size:16px; color:#ab8e4e; line-height:20px}
#rightContentPanel p a{color:#943415; text-decoration:none}
#rightContentPanel .login{width:66px; height:20px; margin:10px 0 0 0; padding:0px; float:left; font-family:Arial; font-size:11px; color:#943415; line-height:20px; text-align:center; text-decoration:none; background:url(images/loginBg.jpg) no-repeat}


/*#footPanel{width:923px; margin:0px; padding:25px 0 29px 0; float:left; background:url(images/footbg.jpg) no-repeat center top}*/
#footPanel .nav{width:923px; margin:0px; padding:0px; float:left}
#footPanel .nav ul{width:375px; margin:0 auto; padding:0px; display:block}
#footPanel .nav ul li{width:auto; margin:0px; float:left; padding:0px; display:block}
#footPanel .nav ul li .blank{width:auto; margin:0px; padding:0 7px 0 7px; float:left; font-family:Arial; font-size:11px; font-weight:bold; color:#943415}
#footPanel .nav ul li a{width:auto; margin:0px; float:left; padding:0px; font-family:Arial; font-size:11px; font-weight:bold; color:#943415; text-decoration:none}
#footPanel .copyright{width:100%; 
margin:1px 0 0 0; 
padding:0px; float:left; font-family:Arial; font-size:11px; color:#bb9d59; line-height:15px; text-align:center
}
#footPanel .designInfo{width:100%; margin:3px 0 0 0; padding:0px; float:left; font-family:Arial; font-size:11px; font-weight:bold; color:#bb9d59; text-align:center}
#footPanel .designInfo a{color:#943415; text-decoration:none}
#footPanel .validation{width:923px; margin:4px 0 0 0; padding:0px; float:left}
#footPanel .validation ul{width:138px; margin:0 auto; padding:0px; display:block}
#footPanel .validation ul li{width:auto; margin:0px; padding:0px; float:left; display:block}
#footPanel .validation ul li .blank{width:6px; height:17px; margin:0px; padding:0px; float:left}
#footPanel .validation ul li a{width:66px; height:17px; margin:0px; padding:0px; float:left; font-family:Arial; font-size:10px; font-weight:bold; color:#943415; line-height:16px; text-align:center; text-decoration:none; background:url(images/validationBg.jpg) no-repeat}
#menu{width:100%; margin:32px 0 0 0; padding:0px; float:left}
#menu ul{width:450px; margin:0px; padding:0px; float:right; display:block}
#menu ul li{width:auto; margin:0px; padding:0px; float:left; display:block}
#menu ul li a{width:auto; height:18px; margin:0px; padding:0px; float:left; font-family:Arial; font-size:12px; color:#45ada9; line-height:13px; text-decoration:none; cursor:pointer}
#menu ul li a:hover{background:url(images/rightCurve.jpg) no-repeat right}
#menu ul li a span{width:auto; height:16px; margin:0px; padding:2px 8px 0 8px; float:left; cursor:pointer}
#menu ul li a:hover span{background:url(images/leftCurve.jpg) no-repeat left}
#menu ul li .blank{width:1px; height:18px; margin:0px; padding:0 5px 0 5px; float:left; background:url(images/mBlank.jpg) no-repeat center top}

#menuContent{width:100%; margin:32px 0 0 0; padding:0px; float:left}
#menuContent ul{width:450px; margin:0px; padding:0px; float:left; display:block}
#menuContent ul li{width:auto; margin:0px; padding:0px; float:left; display:block}
#menuContent ul li a{width:auto; height:18px; margin:0px; padding:0px; float:left; font-family:Arial; font-size:12px; color:#45ada9; line-height:13px; text-decoration:none; cursor:pointer}
#menuContent ul li a:hover{background:url(images/rightCurve.jpg) no-repeat right}
#menuContent ul li a span{width:auto; height:16px; margin:0px; padding:2px 8px 0 8px; float:left; cursor:pointer}
#menuContent ul li a:hover span{background:url(images/leftCurve.jpg) no-repeat left}
#menuContent ul li .blank{width:1px; height:18px; margin:0px; padding:0 5px 0 5px; float:left; background:url(images/mBlank.jpg) no-repeat center top}