﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Web page/Mpage1.master" AutoEventWireup="true" CodeFile="Support.aspx.cs" Inherits="Web_page_Support" %>

<asp:Content ID="Content1" ContentPlaceHolderID="up" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="main" Runat="Server">
    <center>
    <h2 style="color:#497f35;">
        Please contact us for further support.
    </h2>
    </center>
</asp:Content>

