
<div id="wrapper" class="preload">
<div id="main-container" style="margin-left: 30px;padding-top: 0px;overflow-x: hidden">
<div class="padding-1">
<div class="row">
<div class="col-lg-1" style="width: 740px;">
<div class="section-header">
    <hr class="left visible-lg">
    <span style="font-size: 18px;">94117 Information</span>
    <hr class="right visible-lg">
</div>
<div class="panel panel-default">
<div class="panel-heading text-right">
    <a href="#" class="btn btn-sm btn-success m-right-5 pull-right"><i class="icon-plus"></i> View Details</a>
    <a href="#" class="btn btn-sm btn-success m-right-5 pull-right">Share</a>
    <a href="#" class="btn btn-sm btn-success m-right-5 pull-right">Agent</a>
    <a href="#" class="btn btn-sm btn-success m-right-5 pull-right">Save</a>
    <img src="images/placeholder/graph.png">
</div>
<div class="panel-body">
    <div class="col-md-6"><!-- Top 3 Box -->
        <div class="panel">
            <div class="panel-body m-top-10">
                <strong class="font-16">Places to Eat</strong>
                <span class="label label-warning m-left-5">MEDIUM</span>
            </div>
            <div class="list-group">
                <a class="list-group-item">
                    <span>Morton's The Steakhouse</span>
                    <span class="badge">0.5 miles</span>
                </a>
                <a class="list-group-item">
                    <span>Dottie's Diner</span>
                    <span class="badge">0.7 miles</span>
                </a>
                <a class="list-group-item">
                    <span>Fu Shing Restaurant</span>
                    <span class="badge">1.3 miles</span>
                </a>
                <a class="list-group-item">
                    <span><b>View More</b></span>
                </a>
            </div><!-- /list-group -->
        </div>
    </div><!-- Top 3 Box -->
    <div class="col-md-6"><!-- Top 3 Box -->
        <div class="panel">
            <div class="panel-body m-top-10">
                <strong class="font-16">Local Nightlife</strong>
                <span class="label label-success m-left-5">HIGH</span>
            </div>
            <div class="list-group">
                <a class="list-group-item">
                    <span>Avalon Bar & Lounge</span>
                    <span class="badge">0.5 miles</span>
                </a>
                <a class="list-group-item">
                    <span>McFadden's Irish Pub</span>
                    <span class="badge">0.7 miles</span>
                </a>
                <a class="list-group-item">
                    <span>The Lounge at The Fairmont</span>
                    <span class="badge">1.3 miles</span>
                </a>
                <a class="list-group-item">
                    <span><b>View More</b></span>
                </a>
            </div><!-- /list-group -->
        </div>
    </div><!-- Top 3 Box -->
    <div class="col-md-6"><!-- Top 3 Box -->
        <div class="panel">
            <div class="panel-body m-top-10">
                <strong class="font-16">Neighborhood Amenities</strong>
                <span class="label label-danger m-left-5">LOW</span>
            </div>
            <div class="list-group">
                <a class="list-group-item">
                    <span>Morton's The Steakhouse</span>
                    <span class="badge">0.5 miles</span>
                </a>
                <a class="list-group-item">
                    <span>Dottie's Diner</span>
                    <span class="badge">0.7 miles</span>
                </a>
                <a class="list-group-item">
                    <span>Fu Shing Restaurant</span>
                    <span class="badge">1.3 miles</span>
                </a>
                <a class="list-group-item">
                    <span><b>View More</b></span>
                </a>
            </div><!-- /list-group -->
        </div>
    </div><!-- Top 3 Box -->
    <div class="col-md-6"><!-- Top 3 Box -->
        <div class="panel">
            <div class="panel-body m-top-10">
                <strong class="font-16">Close Grocery Options</strong>
                <span class="label label-danger m-left-5">LOW</span>
            </div>
            <div class="list-group">
                <a class="list-group-item">
                    <span>Morton's The Steakhouse</span>
                    <span class="badge">0.5 miles</span>
                </a>
                <a class="list-group-item">
                    <span>Dottie's Diner</span>
                    <span class="badge">0.7 miles</span>
                </a>
                <a class="list-group-item">
                    <span>Fu Shing Restaurant</span>
                    <span class="badge">1.3 miles</span>
                </a>
                <a class="list-group-item">
                    <span><b>View More</b></span>
                </a>
            </div><!-- /list-group -->
        </div>
    </div><!-- Top 3 Box -->
    <div class="col-md-6"><!-- Top 3 Box -->
        <div class="panel">
            <div class="panel-body m-top-10">
                <strong class="font-16">Local Schools</strong>
                <span class="label label-success m-left-5">HIGH</span>
            </div>
            <div class="list-group">
                <a class="list-group-item">
                    <span>Morton's The Steakhouse</span>
                    <span class="badge">0.5 miles</span>
                </a>
                <a class="list-group-item">
                    <span>Dottie's Diner</span>
                    <span class="badge">0.7 miles</span>
                </a>
                <a class="list-group-item">
                    <span>Fu Shing Restaurant</span>
                    <span class="badge">1.3 miles</span>
                </a>
                <a class="list-group-item">
                    <span><b>View More</b></span>
                </a>
            </div><!-- /list-group -->
        </div>
    </div><!-- Top 3 Box -->
    <div class="col-md-6"><!-- Top 3 Box -->
        <div class="panel">
            <div class="panel-body m-top-10">
                <strong class="font-16">Transportation Options</strong>
                <span class="label label-warning m-left-5">MEDIUM</span>
            </div>
            <div class="list-group">
                <a class="list-group-item">
                    <span>MTA 1 2 3 - White Plains</span>
                    <span class="badge">0.5 miles</span>
                </a>
                <a class="list-group-item">
                    <span>MTA 4 5 - Barrel Avenue</span>
                    <span class="badge">0.7 miles</span>
                </a>
                <a class="list-group-item">
                    <span>Bx27 Bronx North Bus 3</span>
                    <span class="badge">1.3 miles</span>
                </a>
                <a class="list-group-item">
                    <span><b>View More</b></span>
                </a>
            </div><!-- /list-group -->
        </div>
    </div><!-- Top 3 Box -->
</div>
<!--<div class="panel-body">-->
    <!--<div class="col-md-6">&lt;!&ndash; Top 3 Box &ndash;&gt;-->
        <!--<div class="panel">-->
            <!--<div class="panel-body m-top-10">-->
                <!--<strong class="font-16">Places to Eat</strong>-->
                <!--<span class="label label-warning m-left-5">MEDIUM</span>-->
            <!--</div>-->
            <!--<div class="list-group">-->
                <!--<a class="list-group-item">-->
                    <!--<span>Morton's The Steakhouse</span>-->
                    <!--<span class="badge">0.5 miles</span>-->
                <!--</a>-->
                <!--<a class="list-group-item">-->
                    <!--<span>Dottie's Diner</span>-->
                    <!--<span class="badge">0.7 miles</span>-->
                <!--</a>-->
                <!--<a class="list-group-item">-->
                    <!--<span>Fu Shing Restaurant</span>-->
                    <!--<span class="badge">1.3 miles</span>-->
                <!--</a>-->
                <!--<a class="list-group-item">-->
                    <!--<span><b>View More</b></span>-->
                <!--</a>-->
            <!--</div>&lt;!&ndash; /list-group &ndash;&gt;-->
        <!--</div>-->
    <!--</div>&lt;!&ndash; Top 3 Box &ndash;&gt;-->
    <!--<div class="col-md-6">&lt;!&ndash; Top 3 Box &ndash;&gt;-->
        <!--<div class="panel">-->
            <!--<div class="panel-body m-top-10">-->
                <!--<strong class="font-16">Local Nightlife</strong>-->
                <!--<span class="label label-success m-left-5">HIGH</span>-->
            <!--</div>-->
            <!--<div class="list-group">-->
                <!--<a class="list-group-item">-->
                    <!--<span>Avalon Bar & Lounge</span>-->
                    <!--<span class="badge">0.5 miles</span>-->
                <!--</a>-->
                <!--<a class="list-group-item">-->
                    <!--<span>McFadden's Irish Pub</span>-->
                    <!--<span class="badge">0.7 miles</span>-->
                <!--</a>-->
                <!--<a class="list-group-item">-->
                    <!--<span>The Lounge at The Fairmont</span>-->
                    <!--<span class="badge">1.3 miles</span>-->
                <!--</a>-->
                <!--<a class="list-group-item">-->
                    <!--<span><b>View More</b></span>-->
                <!--</a>-->
            <!--</div>&lt;!&ndash; /list-group &ndash;&gt;-->
        <!--</div>-->
    <!--</div>&lt;!&ndash; Top 3 Box &ndash;&gt;-->
    <!--<div class="col-md-6">&lt;!&ndash; Top 3 Box &ndash;&gt;-->
        <!--<div class="panel">-->
            <!--<div class="panel-body m-top-10">-->
                <!--<strong class="font-16">Neighborhood Amenities</strong>-->
                <!--<span class="label label-danger m-left-5">LOW</span>-->
            <!--</div>-->
            <!--<div class="list-group">-->
                <!--<a class="list-group-item">-->
                    <!--<span>Morton's The Steakhouse</span>-->
                    <!--<span class="badge">0.5 miles</span>-->
                <!--</a>-->
                <!--<a class="list-group-item">-->
                    <!--<span>Dottie's Diner</span>-->
                    <!--<span class="badge">0.7 miles</span>-->
                <!--</a>-->
                <!--<a class="list-group-item">-->
                    <!--<span>Fu Shing Restaurant</span>-->
                    <!--<span class="badge">1.3 miles</span>-->
                <!--</a>-->
                <!--<a class="list-group-item">-->
                    <!--<span><b>View More</b></span>-->
                <!--</a>-->
            <!--</div>&lt;!&ndash; /list-group &ndash;&gt;-->
        <!--</div>-->
    <!--</div>&lt;!&ndash; Top 3 Box &ndash;&gt;-->
    <!--<div class="col-md-6">&lt;!&ndash; Top 3 Box &ndash;&gt;-->
        <!--<div class="panel">-->
            <!--<div class="panel-body m-top-10">-->
                <!--<strong class="font-16">Close Grocery Options</strong>-->
                <!--<span class="label label-danger m-left-5">LOW</span>-->
            <!--</div>-->
            <!--<div class="list-group">-->
                <!--<a class="list-group-item">-->
                    <!--<span>Morton's The Steakhouse</span>-->
                    <!--<span class="badge">0.5 miles</span>-->
                <!--</a>-->
                <!--<a class="list-group-item">-->
                    <!--<span>Dottie's Diner</span>-->
                    <!--<span class="badge">0.7 miles</span>-->
                <!--</a>-->
                <!--<a class="list-group-item">-->
                    <!--<span>Fu Shing Restaurant</span>-->
                    <!--<span class="badge">1.3 miles</span>-->
                <!--</a>-->
                <!--<a class="list-group-item">-->
                    <!--<span><b>View More</b></span>-->
                <!--</a>-->
            <!--</div>&lt;!&ndash; /list-group &ndash;&gt;-->
        <!--</div>-->
    <!--</div>&lt;!&ndash; Top 3 Box &ndash;&gt;-->
    <!--<div class="col-md-6">&lt;!&ndash; Top 3 Box &ndash;&gt;-->
        <!--<div class="panel">-->
            <!--<div class="panel-body m-top-10">-->
                <!--<strong class="font-16">Local Schools</strong>-->
                <!--<span class="label label-success m-left-5">HIGH</span>-->
            <!--</div>-->
            <!--<div class="list-group">-->
                <!--<a class="list-group-item">-->
                    <!--<span>Morton's The Steakhouse</span>-->
                    <!--<span class="badge">0.5 miles</span>-->
                <!--</a>-->
                <!--<a class="list-group-item">-->
                    <!--<span>Dottie's Diner</span>-->
                    <!--<span class="badge">0.7 miles</span>-->
                <!--</a>-->
                <!--<a class="list-group-item">-->
                    <!--<span>Fu Shing Restaurant</span>-->
                    <!--<span class="badge">1.3 miles</span>-->
                <!--</a>-->
                <!--<a class="list-group-item">-->
                    <!--<span><b>View More</b></span>-->
                <!--</a>-->
            <!--</div>&lt;!&ndash; /list-group &ndash;&gt;-->
        <!--</div>-->
    <!--</div>&lt;!&ndash; Top 3 Box &ndash;&gt;-->
    <!--<div class="col-md-6">&lt;!&ndash; Top 3 Box &ndash;&gt;-->
        <!--<div class="panel">-->
            <!--<div class="panel-body m-top-10">-->
                <!--<strong class="font-16">Transportation Options</strong>-->
                <!--<span class="label label-warning m-left-5">MEDIUM</span>-->
            <!--</div>-->
            <!--<div class="list-group">-->
                <!--<a class="list-group-item">-->
                    <!--<span>MTA 1 2 3 - White Plains</span>-->
                    <!--<span class="badge">0.5 miles</span>-->
                <!--</a>-->
                <!--<a class="list-group-item">-->
                    <!--<span>MTA 4 5 - Barrel Avenue</span>-->
                    <!--<span class="badge">0.7 miles</span>-->
                <!--</a>-->
                <!--<a class="list-group-item">-->
                    <!--<span>Bx27 Bronx North Bus 3</span>-->
                    <!--<span class="badge">1.3 miles</span>-->
                <!--</a>-->
                <!--<a class="list-group-item">-->
                    <!--<span><b>View More</b></span>-->
                <!--</a>-->
            <!--</div>&lt;!&ndash; /list-group &ndash;&gt;-->
        <!--</div>-->
    <!--</div>&lt;!&ndash; Top 3 Box &ndash;&gt;-->
<!--</div>-->
<table class="table table-borderless">
    <thead>
    <tr>
        <th><strong class="font-16">Ethnicity</strong></th>
        <th><strong class="font-16">94117</strong></th>
        <th><strong class="font-16">State</strong></th>
        <th><strong class="font-16">Index</strong></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>White</td>
        <td>
            <div class="progress progress-striped active" style="height:8px; margin:5px 0 0 0;">
                <div class="progress-bar" style="width: 45%">
                    <span class="sr-only">45% complete</span>
                </div>
            </div>
        </td>
        <td>
            <div class="progress progress-striped active" style="height:8px; margin:5px 0 0 0;">
                <div class="progress-bar" style="width: 74%">
                    <span class="sr-only">74% complete</span>
                </div>
            </div>
        </td>
        <td>122</td>
    </tr>
    <tr>
        <td>Black</td>
        <td>
            <div class="progress progress-striped active" style="height:8px; margin:5px 0 0 0;">
                <div class="progress-bar" style="width: 22%">
                    <span class="sr-only">22% complete</span>
                </div>
            </div>
        </td>
        <td>
            <div class="progress progress-striped active" style="height:8px; margin:5px 0 0 0;">
                <div class="progress-bar" style="width: 49%">
                    <span class="sr-only">49% complete</span>
                </div>
            </div>
        </td>
        <td>122</td>
    </tr>
    <tr>
        <td>Asian</td>
        <td>
            <div class="progress progress-striped active" style="height:8px; margin:5px 0 0 0;">
                <div class="progress-bar" style="width: 38%">
                    <span class="sr-only">38% complete</span>
                </div>
            </div>
        </td>
        <td>
            <div class="progress progress-striped active" style="height:8px; margin:5px 0 0 0;">
                <div class="progress-bar" style="width: 66%">
                    <span class="sr-only">66% complete</span>
                </div>
            </div>
        </td>
        <td>122</td>
    </tr>
    <tr>
        <td>Hispanic</td>
        <td>
            <div class="progress progress-striped active" style="height:8px; margin:5px 0 0 0;">
                <div class="progress-bar" style="width: 90%">
                    <span class="sr-only">90% complete</span>
                </div>
            </div>
        </td>
        <td>
            <div class="progress progress-striped active" style="height:8px; margin:5px 0 0 0;">
                <div class="progress-bar" style="width: 23%">
                    <span class="sr-only">23% complete</span>
                </div>
            </div>
        </td>
        <td>122</td>
    </tr>
    </tbody>
</table>
<table class="table table-borderless">
    <thead>
    <tr>
        <th><strong class="font-16">Age</strong></th>
        <th><strong class="font-16">94117</strong></th>
        <th><strong class="font-16">State</strong></th>
        <th><strong class="font-16">Index</strong></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>18-24</td>
        <td>
            <div class="progress progress-striped active" style="height:8px; margin:5px 0 0 0;">
                <div class="progress-bar" style="width: 45%">
                    <span class="sr-only">45% complete</span>
                </div>
            </div>
        </td>
        <td>
            <div class="progress progress-striped active" style="height:8px; margin:5px 0 0 0;">
                <div class="progress-bar" style="width: 74%">
                    <span class="sr-only">74% complete</span>
                </div>
            </div>
        </td>
        <td>122</td>
    </tr>
    <tr>
        <td>25-34</td>
        <td>
            <div class="progress progress-striped active" style="height:8px; margin:5px 0 0 0;">
                <div class="progress-bar" style="width: 22%">
                    <span class="sr-only">22% complete</span>
                </div>
            </div>
        </td>
        <td>
            <div class="progress progress-striped active" style="height:8px; margin:5px 0 0 0;">
                <div class="progress-bar" style="width: 49%">
                    <span class="sr-only">49% complete</span>
                </div>
            </div>
        </td>
        <td>122</td>
    </tr>
    <tr>
        <td>35-49</td>
        <td>
            <div class="progress progress-striped active" style="height:8px; margin:5px 0 0 0;">
                <div class="progress-bar" style="width: 38%">
                    <span class="sr-only">38% complete</span>
                </div>
            </div>
        </td>
        <td>
            <div class="progress progress-striped active" style="height:8px; margin:5px 0 0 0;">
                <div class="progress-bar" style="width: 66%">
                    <span class="sr-only">66% complete</span>
                </div>
            </div>
        </td>
        <td>122</td>
    </tr>
    <tr>
        <td>50+</td>
        <td>
            <div class="progress progress-striped active" style="height:8px; margin:5px 0 0 0;">
                <div class="progress-bar" style="width: 90%">
                    <span class="sr-only">90% complete</span>
                </div>
            </div>
        </td>
        <td>
            <div class="progress progress-striped active" style="height:8px; margin:5px 0 0 0;">
                <div class="progress-bar" style="width: 23%">
                    <span class="sr-only">23% complete</span>
                </div>
            </div>
        </td>
        <td>122</td>
    </tr>
    </tbody>
</table>
</div><!-- /panel -->
<div class="panel-heading text-right">
    <a href="#" class="btn btn-sm btn-success pull-right"><i class="icon-plus"></i> View Details</a>
    <a href="#" class="btn btn-sm btn-success m-right-5 pull-right">Share</a>
    <a href="#" class="btn btn-sm btn-success m-right-5 pull-right">Agent</a>
    <a href="#" class="btn btn-sm btn-success m-right-5 pull-right">Save</a>
</div>
</div><!-- /.col -->
</div><!-- /.row -->
</div><!-- /.padding-20 -->
</div><!-- /main-container -->
</div><!-- /wrapper -->

<a href="" id="scroll-to-top" class="hidden-print"><i class="icon-chevron-up"></i></a>