<!--WARNING !! This template is under testing and does not using proper templating techniques.(Ankit !!)-->

<%_.each(m.data, function(dat){
    var topEntities = dat.get('topEntities');
%>


<div class="street-results-panel panel">
    <div class="panel-heading results-panel-heading" style="margin-top: -8px;">
        <div class="close-panel panel-hide one">

        </div>
        <h5><strong style="padding-left: 6px;">Street Level Results:</strong></h5>
        <a href="javascript:void(0)" class="save_btn bmtool" style="margin-top: 42px;" onclick="alert('Coming soon!!')"></a>
        <a href="javascript:void(0)" class="agent_btn bmtool" style="margin-top: 42px;" onclick="alert('Coming soon!!')"></a>
        <a href="javascript:void(0)" class="info_btn bmtool" style="margin-top: 42px;" onclick="alert('Coming soon!!')"></a>
    </div>

    <div class="panel-body results-body">
        <div class="wordwrap" style="width: 261px;float: top;">
            <a href="http://maps.google.com/maps?q=&layer=c&cbll=<%= dat.get('location').coordinates %>&cbp=1,1,0,0,0,0" target="_blank" title="Street View"> <img class="icon-streetView" alt="Street View" src='./images/icons/sview.png' /></a>
            <span style="position: absolute;top: 35px;"><%= dat.get('streetName') %>, <%= dat.get('location').city %></span>
        </div>
        <span class="" style="position: absolute;top: 70px;">Search Street in :</span>
        <a style="right: 200px;position: absolute;top: 70px;" href="http://www.zillow.com/homes/<%= dat.get('streetName') %>,<%= dat.get('location').city %>-<%= dat.get('location').zip %>_rb<%=m.zillow_params%>" target="_blank" title="Zillow"> <img class="icons-zillow" alt="Zillow" src='./images/icons/zillow.png' /></a>
        <br/>
        <span class="" style="margin-top: 2px;">Search Zipcode in :</span>
        <a style="margin-left: 7px;" href="http://www.zillow.com/homes/<%= dat.get('location').zip %>_rb<%=m.zillow_params%>" target="_blank" title="Zillow"> <img class="icons-zillow" style="margin-top: 2px;" alt="Zillow" src='./images/icons/zillow.png' /></a>
    </div>
</div>

<div class="surrounding-results-panel panel">

    <div class="panel-heading results-panel-heading" style="margin-top: -8px;">
        <div class="close-panel panel-hide one">

        </div>
        <h5><strong style="padding-left: 6px;">Surrounding Area Information</strong></h5>
    </div>
    <div class="panel-body results-body" style="margin-top: -5px;">
       <div class="area-info">
           <strong class="font-16" style="margin-left: 0px;">Single Family Houses in the Area</strong><br/>
            <label style="font-weight: normal"> Property Price Range: </label>
           <strong><%= dat.get('property').single_minPrice %> - <%= dat.get('property').single_maxPrice %></strong><br/>
            <label style="font-weight: normal"> Property Price Average: </label>
           <strong><%= dat.get('property').single_avgPrice %></strong><br/>
            <!--<label style="font-weight: normal"> Monthly Rental Average: </label>-->
           <!--<strong><%= dat.get('averageRent') %></strong><br/>-->
           <label style="font-weight: normal"> Bedroom range: </label>
           <strong><%= dat.get('property').bedsinglemin %> - <%= dat.get('property').bedsinglemax %></strong><br/>
       </div>
        <div class="area-info">
            <strong class="font-16" style="margin-left: 0px;">Condo's in the Area</strong><br/>
            <label style="font-weight: normal"> Property Price Range: </label>
            <strong><%= dat.get('property').condo_minPrice %> - <%= dat.get('property').condo_maxPrice %></strong><br/>
            <label style="font-weight: normal"> Property Price Average: </label>
            <strong><%= dat.get('property').condo_avgPrice %></strong><br/>
            <!--<label style="font-weight: normal"> Monthly Rental Average: </label>-->
            <!--<strong><%= dat.get('averageRent') %></strong><br/>-->
            <label style="font-weight: normal"> Bedroom range: </label>
            <strong><%= dat.get('property').bedcondomin %> - <%= dat.get('property').bedcondomax %></strong><br/>
        </div>
    </div>
    <div class="top-places">

        <!--Grocery options begin-->
        <% retail = dat.get('topEntities').Grocery %>
        <%
        var lbl_class = 'label label-warning m-left-5';

        if(retail.level == 'Medium'){
            lbl_class = 'label label-warning m-left-5';
        }
        if(retail.level == 'High'){
            lbl_class = 'label label-success m-left-5';
        }
        if(retail.level == 'Low'){
            lbl_class = 'label label-danger m-left-5';
        }

        var count = 0;
        _.countBy(retail, function(num){
            count = count+1;
        });

        if(count > 1) {
        %>
        <strong class="font-16" style="margin-left: 8px;">Close Grocery Options</strong>
        <span class="<%= lbl_class %>"><%= retail.level %></span>
            <% var r = 1; %>
            <%_.each(retail, function(rf){ %>
            <% if (r <= 3 && rf != 'level' && r <= count-1) { %>

            <div class="list-group">
                <a class="list-group-item">
                <span class="resoptions"><%= rf.name %></span>
                <span class="badge"><%= rf.distance %> miles</span>
                </a>
            <% r = r + 1; } %>

            <% }); %>

           </div>
        <% } %>

        <!--Grocery options end-->

        <!--School options begin-->
        <% schools = dat.get('topEntities').Schools %>
        <%
        var lbl_class = 'label label-warning m-left-5';

        if(schools.level == 'Medium'){
        lbl_class = 'label label-warning m-left-5';
        }
        if(schools.level == 'High'){
        lbl_class = 'label label-success m-left-5';
        }
        if(schools.level == 'Low'){
        lbl_class = 'label label-danger m-left-5';
        }

        var count = 0;
        _.countBy(schools, function(num){
        count = count+1;
        });

        if(count > 1) {
        %>
        <strong class="font-16" style="margin-left: 8px;">Local School Options</strong>
        <span class="<%= lbl_class %>"><%= schools.level %></span>
            <% var f = 1; %>
            <%_.each(schools, function(so){ %>
            <% if (f <= 3 && so != 'level' && f <= count-1) { %>
            <div class="list-group">
                <a class="list-group-item">
                    <span class="resoptions"><%= so.name %></span>
                    <span class="badge"><%= so.distance %> miles</span>
                </a>
            <% f = f + 1; } %>
            <% }); %>
            </div>
        <% } %>
        <!--School options end-->

        <!--Nightlife options Begin-->
        <% nightlife = dat.get('topEntities').Nightlife %>
        <%
        var lbl_class = 'label label-warning m-left-5';

        if(nightlife.level == 'Medium'){
        lbl_class = 'label label-warning m-left-5';
        }
        if(nightlife.level == 'High'){
        lbl_class = 'label label-success m-left-5';
        }
        if(nightlife.level == 'Low'){
        lbl_class = 'label label-danger m-left-5';
        }

        var count = 0;
        _.countBy(nightlife, function(num){
        count = count+1;
        });

        if(count > 1) {
        %>
        <strong class="font-16" style="margin-left: 8px;">Local Nightlife</strong>
        <span class="<%= lbl_class %>"><%= nightlife.level %></span>
        <% var n = 1; %>
        <%_.each(nightlife, function(nl){ %>
        <% if (n <= 3 && nl != 'level' && n <= count-1) { %>
        <div class="list-group">
            <a class="list-group-item">
                <span class="resoptions"><%= nl.name %></span>
                <span class="badge"><%= nl.distance %> miles</span>
            </a>
            <% n = n + 1; } %>
            <% }); %>
        </div>
        <% } %>
        <!--Nightlife options end-->

        <!--Transportation option begins-->
        <% transport = dat.get('topEntities').Transportation %>
        <%
        var lbl_class = 'label label-warning m-left-5';

        if(transport.level == 'Medium'){
        lbl_class = 'label label-warning m-left-5';
        }
        if(transport.level == 'High'){
        lbl_class = 'label label-success m-left-5';
        }
        if(transport.level == 'Low'){
        lbl_class = 'label label-danger m-left-5';
        }

        var count = 0;
        _.countBy(transport, function(num){
        count = count+1;
        });

        if(count > 1) {
        %>
        <strong class="font-16" style="margin-left: 8px;">Transportation Options</strong>
        <span class="<%= lbl_class %>"><%= transport.level %></span>
        <% var t = 1; %>
        <%_.each(transport, function(to){ %>
        <% if (t <= 3 && to != 'level' && t <= count-1) { %>
        <div class="list-group">
            <a class="list-group-item">
                <span class="resoptions"><%= to.name %></span>
                <span class="badge"><%= to.distance %> miles</span>
            </a>
            <% t = t + 1; } %>
            <% }); %>
        </div>
        <% } %>
        <!--Transportation options end-->

		
		<!--Features option begins-->
        <% features = dat.get('topEntities').Features %>
        <%
        var lbl_class = 'label label-warning m-left-5';

        if(features.level == 'Medium'){
        lbl_class = 'label label-warning m-left-5';
        }
        if(features.level == 'High'){
        lbl_class = 'label label-success m-left-5';
        }
        if(features.level == 'Low'){
        lbl_class = 'label label-danger m-left-5';
        }

        var count = 0;
        _.countBy(features, function(num){
        count = count+1;
        });

        if(count > 1) {
        %>
        <strong class="font-16" style="margin-left: 8px;">Top Features</strong>
        <span class="<%= lbl_class %>"><%= features.level %></span>
        <% var t = 1; %>
        <%_.each(features, function(to){ %>
        <% if (t <= 3 && to != 'level' && t <= count-1) { %>
        <div class="list-group">
            <a class="list-group-item">
                <span class="resoptions"><%= to.name %></span>
                <span class="badge"><%= to.distance %> miles</span>
            </a>
            <% t = t + 1; } %>
            <% }); %>
        </div>
        <% } %>
        <!--Features options end-->
		
		
		<!--Worship option begins-->
        <% warship = dat.get('topEntities').Worship %>
        <%
        var lbl_class = 'label label-warning m-left-5';

        if(warship.level == 'Medium'){
        lbl_class = 'label label-warning m-left-5';
        }
        if(warship.level == 'High'){
        lbl_class = 'label label-success m-left-5';
        }
        if(warship.level == 'Low'){
        lbl_class = 'label label-danger m-left-5';
        }

        var count = 0;
        _.countBy(warship, function(num){
        count = count+1;
        });

        if(count > 1) {
        %>
        <strong class="font-16" style="margin-left: 8px;">Top Places of Worship</strong>
        <span class="<%= lbl_class %>"><%= warship.level %></span>
        <% var t = 1; %>
        <%_.each(warship, function(to){ %>
        <% if (t <= 3 && to != 'level' && t <= count-1) { %>
        <div class="list-group">
            <a class="list-group-item">
                <span class="resoptions"><%= to.name %></span>
                <span class="badge"><%= to.distance %> miles</span>
            </a>
            <% t = t + 1; } %>
            <% }); %>
        </div>
        <% } %>
        <!--Worship options end-->
    </div>
</div>
<% }); %>