
    <div class="bm_tool">
        <a href="#" class="save_btn"></a>
        <a href="#" class="agent_btn"></a>
        <a href="#" class="info_btn"></a>
        <a href="#" class="share_btn"></a>
        <ul class="stars">

            <!--<li class="star_set"></li>-->
            <li><a href="http://www.zillow.com/homes/<%=m.zipc%>_rb<%=m.zillow_params%>" target="_blank" title="Zillow"> <img class="icons-zillow"  alt="Zillow" src='./images/icons/zillow.png' /></a></li>
            <li><a href="http://www.trulia.com/for_sale/<%=m.zipc%>_zip/" target="_blank" title="Trulia"> <img class="icons-trulia"  alt="Trulia" src='./images/icons/trulia_2.png' /></a></li>
            <li><a href="http://www.realtor.com/realestateandhomes-search/<%=m.zipc%>" target="_blank" title="Realtor"> <img class="icons-realtor"  alt="realtor" src='./images/icons/realtor.png' /></a></li>
        </ul>
    </div>
