<h5>HOUSING OPTIONS (OPTIONAL)</h5>
<div class="select_box">
    <p>I would like to:</p>
    <select name='action'>
        <option value="select" disabled selected>Select</option>
        <option>Buy</option>
        <option disabled>Rent ( Coming soon !! )</option>
    </select>
</div>

<div class="select_box">
    <p>In an area that has:</p>
    <select  name='area_has'>
        <option value="select" disabled selected>Select</option>
        <option value="Condo">Condo/Townhouse</option>
        <option value="SingleFamilyHome">Single Family Home</option>
        <option value="both" disabled>Both</option>
    </select>
</div>

<label><h6 class="slider_cnt" style="margin-left: 6px;">Number of rooms:</h6></label>
<input type="text" value="2-4" id='room_num' size=2 style="display: none; border: 0; color:#006400; font-weight: bold;" name="rooms" />
<div style="
        margin-left:7px;width:240px;margin-top: -11px;height: 8px;" id='rooms-slider'>
</div>

<div class="sliter_tooltip" style="margin-left: 6px;">
    <p class="low" style="width: 62px;">Studio</p>
    <p class="mdm" style="width: 120px;">2 BR+</p>
    <p class="hgh" style="width: 78px;text-align: center;">4 BR+</p>
</div>

<label><h6 class="slider_cnt" style="margin-left: 6px;">Budget:</h6></label>
<input type="text" value="100000-700000" id='sel-budget' size=1 style="width:145px; border: 0; color:#006400; font-weight: bold;" name="budget" readonly />
<div style="
        margin-left:7px;width:240px;margin-top: -11px;height: 8px;" id='budget-slider'>
</div>

<div class="sliter_tooltip" style="margin-left: 6px;">
    <p class="low" style="width: 62px;border: none">$100</p>
    <!--<p class="mdm" style="width: 120px;">2 BR+</p>-->
    <p class="hgh" style="width: 40px;border: none">$5 M+</p>
</div>