<h5>NEIGHBORHOOD OPTIONS (OPTIONAL)</h5>
<div class="select_box">

    <p style="height: 10px;">Priority 1 within
    <select name='places_within'style="margin-left: 100px;margin-top: -21px;width: 80px;height: 20px;">
        <option value='' disabled selected>Miles</option>
        <option value='1'>1 Mile</option>
        <option value='2'>2 Mile</option>
        <option value='5'>5 Mile</option>
        <option value='10'>10 Mile</option>
    </select>
    </p>
    <select name='places'>
        <option value='select' disabled selected>Select</option>
		<option value='school'>All Schools</option>
        <option value='school-high_school'>High School</option>
        <option value='school-middle_school'>Middle School</option>
        <option value='school-elementary_school'>Elementary School</option>
        <option value='place_of_worship'>Place of worship</option>
        <option value='place_of_worship-synagogue'>Synagogue</option>
        <option value='place_of_worship-hindu_temple'>Hindu Temple</option>
        <option value='place_of_worship-church'>Church</option>
        <option value='place_of_worship-mosque'>Mosque</option>
        <option value='shopping_mall'>Shopping Mall</option>
        <option value='golf_club-country_club'>Golf Club</option>
        <option value='cvs'>CVS</option>
        <option value='starbucks'>Starbucks</option>
		<option value='train_station'>Train Station</option>
    </select>
</div>

<div class="select_box" style="margin-top: 2px;">
    <p style="height: 10px;">Priority 2 within
        <select name='commute_within'style="margin-left: 100px;margin-top: -21px;width: 80px;height: 20px;">
            <option value='' disabled selected>Miles</option>
            <option value='1'>1 Mile</option>
            <option value='2'>2 Mile</option>
            <option value='5'>5 Mile</option>
            <option value='10'>10 Mile</option>
        </select>
    </p>
    <select name='commute'>
        <option value='select' disabled selected>Select</option>
        <option value='school'>All Schools</option>
        <option value='school-high_school'>High School</option>
        <option value='school-middle_school'>Middle School</option>
        <option value='school-elementary_school'>Elementary School</option>
        <option value='place_of_worship'>Place of worship</option>
        <option value='place_of_worship-synagogue'>Synagogue</option>
        <option value='place_of_worship-hindu_temple'>Hindu Temple</option>
        <option value='place_of_worship-church'>Church</option>
        <option value='place_of_worship-mosque'>Mosque</option>
        <option value='shopping_mall'>Shopping Mall</option>
        <option value='golf_club-country_club'>Golf Club</option>
        <option value='cvs'>CVS</option>
        <option value='starbucks'>Starbucks</option>
		<option value='train_station'>Train Station</option>
    </select>
</div>

<div class="select_box" style="margin-top: 2px;">
    <p style="height: 10px;">Priority 3 within
        <select name='schools_within'style="margin-left: 100px;margin-top: -21px;width: 80px;height: 20px;">
            <option value='' disabled selected>Miles</option>
            <option value='1'>1 Mile</option>
            <option value='2'>2 Mile</option>
            <option value='5'>5 Mile</option>
            <option value='10'>10 Mile</option>
        </select>
    </p>
    <select name='schools'>
        <option value='select' disabled selected>Select</option>
		<option value='school'>All Schools</option>
        <option value='school-high_school'>High School</option>
        <option value='school-middle_school'>Middle School</option>
        <option value='school-elementary_school'>Elementary School</option>
        <option value='place_of_worship'>Place of worship</option>
        <option value='place_of_worship-synagogue'>Synagogue</option>
        <option value='place_of_worship-hindu_temple'>Hindu Temple</option>
        <option value='place_of_worship-church'>Church</option>
        <option value='place_of_worship-mosque'>Mosque</option>
        <option value='shopping_mall'>Shopping Mall</option>
        <option value='golf_club-country_club'>Golf Club</option>
        <option value='cvs'>CVS</option>
        <option value='starbucks'>Starbucks</option>
		<option value='train_station'>Train Station</option>
    </select>
</div>

<div class="select_box" id="priority">
    <p style="height: 10px;">Priority location<br><span>Click <a href="#"><b style="color: lightskyblue">here</b></a> then click on the map.</span></p>
    <br/>
    <select id="priority_point_within">
        <option value="1">1 mile</option>
        <option value="2">2 miles</option>
        <option value="5">5 miles</option>
        <option value="10">10 miles</option>
        <option value="20">20 miles</option>        
    </select>
</div>

<div class="fltr_btns">
    <button id="search-btn"></button>
    <a href="#" id="reset-form">Reset Filters</a>
</div>