
<!--Template for loading sliders-->


<%_.each(m.data, function(dat){ %>
<h6 class="slider_cnt"><%= dat.get("title") %>:</h6>
<input type="text" value="2-4" id='<%= dat.get("targetDiv") %>' size=2 style="display:none;border: 0; color:#006400; font-weight: bold;"  data-level="Medium"  name="<%= dat.get("name") %>" />
<div style="
        margin-left:-16px;width:254px;margin-top: 2px;height: 8px;" id='<%= dat.get("targetDiv") %>-slider'>
</div>
<div class="sliter_tooltip">
    <p class="low">Low</p>
    <p class="mdm">Medium</p>
    <p class="hgh">High</p>
</div>


<% }); %>
<br>
<!--<button type="submit" class="btn btn-success search" id="filter-search" style="border:none;"><b>Search</b></button>-->

<!--</br></br>-->
<!--<a href='#' style="color: mediumpurple;font-weight: bold;font-size: 12px;"><u>Click here for Advanced Search Options</u></a>-->

