{% extends "base.html" %}

{% block title %} Search Results {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/results.css" type="text/css">
{% endblock %}

{% block content %} 
    <div class="row">
        <hr>
        <div class="row text-center">
            <h3>Results</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">
                <table class="table">
                <thead>
                    <tr>
                        <td><b>Download</b></td>
                        <td><b>Save Data Name</b></td>
                        <td><b>Uploaded</b></td>
                        <td><b>By</b></td>
                        <td><b>Platform</b></td>
                        <td><b>Genre</b></td>
                        <td><b>Game</b></td>
                        <td><b>Score</b></td>
                    </tr>
                </thead>
                <tbody>
                    {% if search_res %}
                        {% for member in search_res.object_list %}
                            <tr>
                                <td>
                                    <a href="{{ member.file }}">
                                        <span class="glyphicon glyphicon-circle-arrow-down"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="/gamepage/?uploaded_game_id={{ member.id }}">{{ member.title|truncatechars:16 }}</a>
                                </td>
                                <td>
                                    {{ member.datetime|date:"M/d/Y" }}
                                </td>
                                <td>
                                    {% if not member.user.get_profile.private %}
                                    <a href="/profile/{{ member.user.id }}">{{ member.user.username|truncatechars:12 }}</a>
                                    {% else %}
                                        <span class="text-muted"><em><b>Private</b></em></span>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="/platform/?p={{ member.platform.id }}">{{ member.platform.name }}</a>
                                </td>
                                <td>
                                    <a href="/genre/?g={{ member.game.genre.id }}">{{ member.game.genre.name }}</a>
                                </td>
                                <td>
                                    <a href="/infopage/?game_id={{ member.game.id }}">{{ member.game.title }}</a>
                                </td>
                                <td>
                                    <div class="row">
                                        <span class="glyphicon glyphicon-arrow-up" style="color: dodgerblue"></span>
                                        {{ member.upvote }}
                                    </div>
                                    <div class="row">
                                        <span class="glyphicon glyphicon-arrow-down" style="color: orangered"></span>
                                        {{ member.downvote }}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            {% if search_res %}
                {% if search_res.has_previous %}
                    <a href="/results/?search={{qry|escape}}&page={{ search_res.previous_page_number }}">Previous</a>
                {% endif %}
                {% if ellipses1 %}
                     | <a href="/results/?search={{qry|escape}}&page=1">1</a> | ...
                {% endif %}
                {% for p in page_list %}
                     | <a href="/results/?search={{qry|escape}}&page={{ p }}">{{ p }}</a> |
                {% endfor %}
                {% if ellipses2 %}
                    ... | <a href="/results/?search={{qry|escape}}&page={{ search_res.paginator.num_pages }}">{{ search_res.paginator.num_pages }}</a> |
                {% endif %}
                {% if search_res.has_next %}
                    <a href="/results/?search={{qry|escape}}&page={{ search_res.next_page_number }}">Next</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}



