{% extends "base.html" %}

{% block title %} Save Game {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/mainpage.css" type="text/css">
{% endblock %}

{% block content %}
    <br>
    <div id="latest_ten" class="row text-center bottom-padding-small">
        <div id="latestTitle">
            <h3><span class="glyphicon glyphicon-cloud-upload"></span> &nbsp;Latest Uploads </h3>
        </div>
        <div id="latest_ten_cont" class="row">
            <hr>
            <div class="col-md-6">
                {% if latest_ten %}
                <table class="table col-md-offset-7">
                    <thead>
                        <tr>
                            <td><b>Download</b></td>
                            <td><b>Save Data Name</b></td>
                            <td><b>Uploaded</b></td>
                            <td><b>By</b></td>
                            <td><b>Genre</b></td>
                            <td><b>Game</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for upload in latest_ten %}
                            <tr>
                                <td>
                                    <a href = "{{ upload.file }}">
                                        <span class="glyphicon glyphicon-circle-arrow-down"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href = '/gamepage/?uploaded_game_id={{ upload.id }}'>{{ upload.title|truncatechars:16 }}</a>
                                </td>
                                <td>
                                    {{ upload.datetime|date:"M/d/Y" }}
                                </td>
                                <td>
                                    {% if not upload.user.get_profile.private %}
                                    <a href="/profile/{{ upload.user.id }}">{{ upload.user.username|truncatechars:12 }}</a>
                                    {% else %}
                                        <span class="text-muted"><em><b>Private</b></em></span>
                                    {% endif %}
                                </td>
                                <td>
                                    {{ upload.game.genre }}
                                </td>
                                <td>
                                    <span class="text-success"><em>{{ upload.game.title }}</em></span>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
        {% if not latest_ten %}
            <div class="row text-center page-header bottom-padding">
                <h1><span class="glyphicon glyphicon-remove-sign"></span></h1>
                <h3 class="text-info">Nothing uploaded so far... <small>Try <a href="/upload">uploading</a> some save game data</small></h3>
            </div>
        {% endif %}
    </div>

{% endblock %}

