{% extends "base.html" %}

{% block title %} Profile {% endblock %}

{% block css %}
    <link rel='stylesheet' href='{{ STATIC_URL }}css/profile.css' type='text/css'/>
{% endblock %}

{% block search %}
{% endblock search %}

{% block js %}
    {% if owner %}
        <script src="{{ STATIC_URL }}js/profile.js"></script>
        <script>
            Gamedata.Profile.init();
        </script>
    {% endif %}
{% endblock js %}
{% block content %}
    <div class="row col-md-offset-2">
        <ul class="nav nav-tabs col-md-9">
            <li class="active"><a href="#details" onclick="javascript:void(0)" data-toggle="tab">Details</a></li>
            <li><a href="#uploads" onclick="javascript:void(0)" data-toggle="tab">Uploads</a></li>
            <li><a href="#comments" onclick="javascript:void(0)" data-toggle="tab">Comments</a></li>
        </ul>
        <div class="tab-content col-md-9">
            <div class="tab-pane active" id="details">
                <br>
                <div class="profile_avatar col-md-offset-1">
                    <div class="row col-md-3">
                        <div id="profile-container" class="row text-center shadow-effect">
                            <img id="avatar-img"
                                 {% if profile.get_full_profile_url %}
                                     src="/{{ profile.get_full_profile_url }}">
                                 {% else %}
                                     src="{{ STATIC_URL }}images/system/profile.png">
                                 {% endif %}
                        </div>
                        <br>
                        <div class="row">
                            <div id="info">
                                <b>Name:</b>
                                {% if user_object.first_name and user_object.last_name %}
                                    <span id="first_name_info">{{ user_object.first_name }}</span>
                                    <span id="last_name_info">{{ user_object.last_name }}</span>
                                {% else %}

                                    <span class="text-muted" id="first_name_info"><em>None Chosen</em></span>
                                    <span class="text-muted" id="last_name_info"></span>

                                {% endif %}
                                <br>
                                <b>Username:</b> {{ user_object.username }}
                                <br>
                                <b>Date:</b> {{ user_object.date_joined|date:"M. d, Y" }}
                                <br><br>
                                <b>Uploads</b> - <span class="text-danger">{{ uploadsavegames|length }}</span>
                                <br>
                                <b>Comments</b> - <span class="text-danger">{{ comments|length }}</span>
                                <br>
                            </div>
                        </div>
                    </div>

                    <div class="row col-md-offset-1 col-md-8">
                        {% if owner %}
                            <div id="settings-panel">
                                <form class="form-horizontal" role="form" id="profile-form" action="" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="profile_pic" class="col-md-4 control-label">Profile Pic</label>
                                        <div class="col-md-8">
                                            <input id="profile_pic" type="file" name="avatar" class="form-control"><br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="profile_pic" class="col-md-4 control-label">First Name</label>
                                        <div class="col-md-8">
                                            <input type="text" id="first_name" name="first_name" class="form-control" value="{{ user_object.first_name }}"><br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="profile_pic" class="col-md-4 control-label">Last Name</label>
                                        <div class="col-md-8">
                                            <input type="text" name="last_name" class="form-control" value="{{ user_object.last_name }}"><br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="profile_pic" class="col-md-4 control-label">Email</label>
                                        <div class="col-md-8">
                                            <input type="text" name="email" class="form-control" value="{{ user_object.email }}"><br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="profile_pic" class="col-md-4 control-label">Username</label>
                                        <div class="col-md-8">
                                            <input type="text" name="username" class="form-control" disabled value="{{ user_object.username }}"><br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="profile_pic" class="col-md-4 control-label">Password</label>
                                        <div class="col-md-8">
                                            <input type="password" name="password" class="form-control" value="password"><br>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="profile_pic" class="col-md-4 control-label">Private Profile</label>
                                        <div class="col-md-8">
                                            <input type="checkbox" name="private"
                                               class="form-control"
                                                {% if profile.private %}
                                               checked
                                                {% endif %}
                                                >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="profile_pic" class="col-md-4 control-label sr-only">Submit Button</label>
                                        <div class="col-md-8">
                                            <input id="profile-submit" class="btn btn-default" type="button" value="Submit"><br>
                                        </div>
                                    </div>
                                </form>
                                <br>
                            </div>
                        {% else %}
                            <div>
                                <div class="page-header col-md-offset-7">
                                    <h1 class="text-muted"><span class="glyphicon glyphicon-eye-close"></span></h1>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="uploads">
                <br>
                <table class="table">
                    <tr>
                        <td>
                            <table id="upload_tbl" class="panel-grid-container table" cellspacing="0">
                                <caption>My Uploads</caption>
                                <thead>
                                <th>Title</th>
                                <th>Game</th>
                                <th>Platform</th>
                                <th>Date</th>
                                <th>Description</th>
                                {% if owner %}
                                    <th>Private</th>
                                    <th>Action</th>
                                {% endif %}
                                </thead>
                                <tbody>
                                {% if uploadsavegames|length == 0 %}
                                    <tr>
                                        <td colspan="all">Nothing yet ...</td>
                                    </tr>
                                {% else %}

                                    {% for upload in uploadsavegames %}
                                        <tr id="{{ upload.id }}">
                                            <td><a href="/gamepage/?uploaded_game_id={{ upload.id }}">{{ upload.title }}</a></td>
                                            <td><a href="/infopage/?game_id={{ upload.game.id }}">{{ upload.game }}</a></td>
                                            <td><a href="/platform/?p={{ upload.platform.id }}">{{ upload.platform }}</a></td>
                                            <td>{{ upload.datetime }}</td>
                                            <td>{{ upload.description }}</td>
                                            {% if owner %}
                                                <td>
                                                    <form id="update_upload_{{ upload.id }}_" action="" method="post">
                                                        {% csrf_token %}
                                                        <input type="checkbox"
                                                               id="private-flag"
                                                               data-id="{{ upload.id }}"
                                                               name="upload_private"
                                                                {% if upload.private %}
                                                               checked
                                                                {% endif %}>
                                                    </form>
                                                </td>
                                                <td>
                                                    <form id="update_upload_{{ upload.id }}" action="" method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="upload_id" value="{{ upload.id }}">
                                                        <a class="delete-upload" data-id="{{ upload.id }}" href="#">
                                                            <span class="text-danger glyphicon glyphicon-trash">
                                                            </span>
                                                        </a>
                                                    </form>
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="tab-pane" id="comments">
                <br>
                <table class="panel-grid-container table" cellspacing="0">
                    <caption>My Comments</caption>
                    <thead>
                    <th>Title</th>
                    <th>Game</th>
                    <th>Date</th>
                    <th>Comment</th>
                    </thead>
                    <tbody>
                    {% if comments|length == 0 %}
                        <tr>
                            <td collspan="all">Nothing yet ...</td>
                        </tr>
                    {% else %}

                        {% for comment in comments %}
                            <tr>
                                <td>
                                    <a href="/gamepage/?uploaded_game_id={{ comment.uploadedgame.id }}">{{ comment.uploadedgame.title|truncatechars:16 }}</a>
                                </td>
                                <td>
                                    <a href="/infopage/?game_id={{ comment.uploadedgame.game.id }}">{{ comment.uploadedgame.game }}</a>
                                </td>
                                <td>{{ comment.datetime }}</td>
                                <td>{{ comment.comment|truncatechars:9 }}</td>
                            </tr>
                        {% endfor %}

                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
