{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %} 
    Registration Page 
{% endblock %}

{% block search %}{% endblock search %}

{% block css %}
    <link rel='stylesheet' href="{{ STATIC_URL }}css/regpage.css" type='text/css' /> 
{% endblock %}

{% block js %} 
    <script src="{{ STATIC_URL }}js/regpage.js"></script>
{% endblock %}

{% block content %}
    {% if not user.is_authenticated %}
    <div class="col-md-offset-1 row col-md-11">
        <div class="col-md-3 col-md-offset-1">
            <h3 class="text-info">Registering is easy!</h3>
            <p>
                Simply fill out the form on the right, and submit.
                You may also register or sign in using the <span class="text-info">
                Facebook</span> and <span class="text-info">Twitter</span>
                social plugins.
            </p>
        </div>
        <div class="col-md-8">
            <div class="row">
                <fb:login-button show-faces="false" width="200" max-rows="1"></fb:login-button>
            </div>
            <div class="row">
                <form id="registration-form"
                      class="form-horizontal col-md-7"
                      role="form" method ="POST"
                      action = "/registration/"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_username" class="col-md-4 control-label">*Username</label>
                        <div class="col-md-7">
                            {% render_field regform.username class="form-control" %}
                            <div id="username-error"
                                 class="error-popover"
                                 data-content="Error"
                                 data-trigger="click">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_username_error" class="col-md-4 control-label sr-only">Username Error</label>
                        <div class="col-md-7">
                            {% if regform.username.errors %}
                                {% for msg in regform.username.errors %}
                                    <small class="alert alert-sm alert-danger errormessage">&bull; {{ msg }}</small>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_email" class="col-md-4 control-label">*E-Mail</label>
                        <div class="col-md-7">
                            {% render_field regform.email class="form-control" %}
                            <div id="email-error"
                                 class="error-popover"
                                 data-content="Error"
                                 data-trigger="click">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_email_error" class="col-md-4 control-label sr-only">E-Mail Error</label>
                        <div class="col-md-7">
                            {% if regform.email.errors %}
                                {% for msg in regform.email.errors %}
                                    <small class="alert alert-sm alert-danger errormessage">&bull; {{ msg }} </small>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_password" class="col-md-4 control-label">*Password</label>
                        <div class="col-md-7">
                            {% render_field regform.password class="form-control" %}
                            <div id="password-error"
                                 class="error-popover"
                                 data-content="Error"
                                 data-trigger="click">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_password_error" class="col-md-4 control-label sr-only">Password Error</label>
                        <div class="col-md-7">
                            {% if regform.password.errors %}
                                {% for msg in regform.password.errors %}
                                     <small class="alert alert-sm alert-danger errormessage">&bull; {{ msg }} </small>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_repassword" class="col-md-4 control-label">Re-Enter </label>
                        <div class="col-md-7">
                            {% render_field regform.repassword class="form-control" %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_repassword_error" class="col-md-4 control-label sr-only">Re-Enter Error </label>
                        <div class="col-md-7">
                            {% if regform.repassword.errors %}
                                {% for msg in regform.repassword.errors %}
                                    <small class="alert alert-sm alert-danger errormessage">&bull; {{ msg }}</small>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_profile_image" class="col-md-4 control-label">Profile Image </label>
                        <div class="col-md-7">
                            {% render_field regform.profile_image class="form-control" %}
                            <div id="image-error"
                                 class="error-popover"
                                 data-content="Error"
                                 data-trigger="click">
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_profile_image" class="col-md-4 control-label sr-only">Profile Image Error</label>
                        <div class="col-md-7">
                            {% if regform.profile_image.errors %}
                                {% for msg in regform.profile_image.errors %}
                                    <small class="alert alert-sm alert-danger errormessage">&bull; {{ msg }}</small>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="registerbutton" class="col-md-4 control-label sr-only">Submit Button</label>
                        <div class="col-md-7">
                            <input id="registerbutton" class="btn btn-default" type="submit" value="Register">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br>
    <br>
    {% else %}
        <div class="row text-center">
            <div class="page-header">
                <h2>You've already registered <small>try <a href="/upload">uploading</a> some save game data</small></h2>
            </div>
        </div>
    {% endif %}
{% endblock %}

