{% extends "base.html" %}

{% block title %} 
    Thank You!
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/regthanks.css" type="text/css">
{% endblock %}

{% block js %} 
    <script src="{{ STATIC_URL }}js/libs/helpers.js"></script>
    <script>
        $(document).ready(function (e) {
            Gamedata.Helpers.countdown('#seconds');
        });
    </script>
{% endblock %}

{% block content %}
    <div id="thankyou" class="bottom-padding">
        <br><br>
        <h4 class="text-info">
            Thank you for registering!
        </h4>
        <br>
        <br>
        <p>
        A confirmation email has been sent to <b><span class="text-info">{{ email }}</span></b>

        <br>
        Please confirm your account before you attempt to log in.

        </p>
        <br><br>
        Redirecting to the main page in <span id="seconds" class="text-info">10</span> seconds...
        <br />
        <br />
        <a href="/">
            If you do not wish to wait, please click here to return to the home page.
        </a>
    </div>
{% endblock %}

