{% extends "base.html" %}

{% block title %} Signed Out {% endblock %}

{% block css %}
    <link rel='stylesheet' href="{{ STATIC_URL }}css/signOut.css" type='text/css'/>
{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}js/libs/helpers.js"></script>
    <script>
        $(document).ready(function (e) {
            Gamedata.Helpers.countdown('#seconds');
        });
    </script>
{% endblock %}

{% block content %}
    <div id="signOutNote" class="bottom-padding">
        You have been successfully <span class="text-info"> signed out </span>.
        You will be automatically redirected to the home page in <span id="seconds" class="text-info">5</span> seconds.
        <br />    
        <br />
        <a href="/">If you do not wish to wait, please click here to return to the home page.</a>
    </div>
{% endblock %}
