{% extends "base.html" %}

{% block title %} Sign In Portal {% endblock %}

{% block login %}{% endblock login %}

{% block search %}
{% endblock search %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/signIn.css">
{% endblock css %}

{% block content %}
    {% if logInMessage %}
    <br>
    <div class="row" class="bottom-padding">
        <div id="logInMessage" class="col-md-12">
            <div class="text-center">
                <span class="alert alert-danger">{{ logInMessage }}</span>
            </div>
        </div>
    </div>
    <hr>
    {% endif %}

    {% if notLoggedIn %}
    <div class="row bottom-padding-small">
        <div class="text-center">
            <h3><span class="text-info">Sign In</span></h3>
        </div>
        <div class="col-md-12 col-md-offset-3">
            <form id="sign-in-form" method="post" class="form-horizontal col-md-4 col-md-offset-1" role="form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username" class="col-md-3 col-md-offset-1 control-label">Username</label>
                    <div class="col-md-6">
                        <input id="username" name="username" type="text" class="form-control" placeholder="Username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-md-3 col-md-offset-1 control-label">Password</label>
                        <div class="col-md-6">
                        <input id="password" name="password" type="password" class="form-control" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-4">
                        <button id="signInSubmit" type="submit" class="btn btn-default">Sign In</button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-3 control-label"></label>
                    <div class="col-md-8 col-md-offset-1">
                        <a href="#" style="text-decoration:none">Forgot your username <span class="glyphicon glyphicon-question-sign"></span></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% endif %}
{% endblock %}