{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}
    Upload Your Saved Games
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/upload.css" type="text/css">
{% endblock css %}

{% block js %}
    <script src="{{ STATIC_URL }}js/libs/helpers.js"></script>
    <script>
        {% if redirectOn %}
            $(document).ready(function (e) {
                Gamedata.Helpers.countdown('#seconds');
            });
        {% endif %}
    </script>
    <script src="{{ STATIC_URL }}js/upload.js"></script>
{% endblock %}

{% block content %}
    {% if accessDenied %}
        <div class="row">
            <div class="col-md-12 text-center upload-note">
            {{ accessDenied|safe }}
            {% if redirectOn %}
                <p>
                    You will be redirected back to the upload page in <span id="seconds" class="text-info">5</span> seconds.
                </p>
                <a href="/">
                    If you do not wish to wait, please click here to return to the
                    upload page.
                </a>
            {% endif %}
            </div>
        </div>
    {% else %}
        <div class="row">
            <hr>
        </div>
        <div class="row text-center">
            <h3 class="text-info">Save Game Details</h3>

        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-3">
                <form id="upload_page"
                      class="form-horizontal col-md-9"
                      role="form"
                      method="POST"
                      action="/upload/"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_game_text" class="col-md-4 control-label">
                            Game Title
                        </label>
                        <div class="col-md-6">
                            {% render_field uploadForm.game class+="form-control" %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_game_text_error" class="sr-only col-md-4 control-label">
                            Game Title Error
                        </label>
                        <div class="col-md-6">
                            {% if uploadForm.game.errors %}
                                {% for msg in uploadForm.game.errors  %}
                                    <small class="alert alert-sm alert-danger errormessage">&bull; {{ msg }}</small>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_platform" class="col-md-4 control-label">
                            Platform
                        </label>
                        <div class="col-md-6">
                            {% render_field uploadForm.platform class+="form-control" %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_platform_error" class="sr-only col-md-4 control-label">
                            Platform Error
                        </label>
                        <div class="col-md-6">
                            {% if uploadForm.platform.errors %}
                                {% for msg in uploadForm.platform.errors %}
                                    <small class="alert alert-sm alert-danger errormessage">&bull; {{ msg }}</small>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_file" class="col-md-4 control-label">
                            Saved Game File
                        </label>
                        <div class="col-md-6">
                            {% render_field uploadForm.file class="form-control" %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_file_error" class="sr-only col-md-4 control-label">
                            Saved Game File Error
                        </label>
                        <div class="col-md-6">
                            {% if uploadForm.file.errors %}
                                {% for msg in uploadForm.file.errors %}
                                    <small class="alert alert-sm alert-danger errormessage">&bull; {{ msg }}</small>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_title" class="col-md-4 control-label">
                            Save File Name
                        </label>
                        <div class="col-md-6">
                            {% render_field uploadForm.title class="form-control" %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_title_error" class="sr-only col-md-4 control-label">
                            Save File Name Error
                        </label>
                        <div class="col-md-6">
                            {% if uploadForm.title.errors %}
                                {% for msg in uploadForm.title.errors %}
                                    <small class="alert alert-sm alert-danger errormessage">&bull; {{ msg }}</small>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_description" class="col-md-4 control-label">
                            Description
                        </label>
                        <div class="col-md-6">
                            {% render_field uploadForm.description class="form-control" %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_description_error" class="sr-only col-md-4 control-label">
                            Description Error
                        </label>
                        <div class="col-md-6">
                            {% if uploadForm.description.errors %}
                                {% for msg in uploadForm.description.errors %}
                                    <small class="alert alert-sm alert-danger errormessage">&bull; {{ msg }}</small>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_private" class="col-md-4 control-label">
                            Make this save private?
                        </label>
                        <div class="col-md-6">
                            {% render_field uploadForm.private class="form-control" %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="upload_submit" class="sr-only">Upload Button</label>
                        <div class="col-md-3 col-md-offset-4">
                            <input id="upload_submit" class="btn btn-default form-control" type="submit" value="Upload">
                        </div>
                    </div>
                </form>
           </div>
        </div>
        <br><br><br><br><br><br>
    {% endif %}
{% endblock %}
